@use '../../../../styles/mixin' as *;
$size: 30px;
:host {
    
    cursor: pointer;
    &:hover {
        transform: scale(1.2);
    }
    .noItem {
        width: $size;
        height: $size;
    }

    .itemPresent {
        width: $size;
        height: $size;
        position: relative;
        img {
            width: $size;
            height: $size;
            margin-right: 10px;
        }
    }
}



