.row-name {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 24px;
    margin: 5px 0;
    padding-top: 5px;
}

.subli-container {
    cursor: pointer;
    color: var(--color-white);
    margin: 0 auto 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background: linear-gradient(145deg, var(--color-surface-deepest), var(--color-surface-soft));
    height: 85px;
    border-radius: 5px;
    border: 2px solid var(--color-surface-deepest);
    text-align: center;

    img {
        width: 25px;
        height: 25px;
    }
}

.subli-container:hover {
    transform: scale(1.1);
}

.selected {
    background-color: var(--color-warning);
}

@media screen and (max-width: 1500px) {
    .subli-container {
        width: 100% !important;
    }
}