:host {
    display: flex;
    align-items: center;
    justify-content: center;

    button {
        margin: 5px;
        border-radius: 50%;
        cursor: pointer;
        border: 0;
        width: 30px;
        height: 30px;
        background-color: var(--color-surface-deepest);
        font-weight: 600;
        font-size: 17px;
        color: white;
        box-shadow: none;
    }

    button:active {
        transform: translateY(2px);
    }


    input {
        width: 20px;
        height: 28px;
        border: 0;
        text-align: center;
        border-radius: 25%;
        background-color: var(--color-surface-deepest);
        color: white;
    }
}