:host {
    display: flex;
    align-items: center;
    justify-content: center;

    button {
        margin: 5px;
        border: 2px solid #415A77;
        border-radius: 50%;
        box-shadow: 2px 3px 2px rgba(240, 240, 240, 0.2);
        cursor: pointer;
        width: 30px;
        height: 30px;
        background-color: white;  
        font-weight: 600;
        font-size: 17px;
    }

    button:active {
        transform: translateY(2px);
        box-shadow: 2px 3px 2px rgba(240, 240, 240, 0.2), inset 3px 2px 5px #1B263B;
    }

    
    input {
        width: 20px;
        height: 28px;
        border: 2px solid #415A77;
        text-align: center;
        border-radius: 25%;
    }
}