<div class="content" (appActivate)="applyHistoric()">
    <div class="row">
        <img appFallback [src]="mapImageItems().get(ItemTypeBuild.CASQUE)" alt="image"
            [matTooltip]="getItemName(ItemTypeBuild.CASQUE)">
        <img appFallback [src]="mapImageItems().get(ItemTypeBuild.AMULETTE)" alt="image"
            [matTooltip]="getItemName(ItemTypeBuild.AMULETTE)">
        <img appFallback [src]="mapImageItems().get(ItemTypeBuild.PLASTRON)" alt="image"
            [matTooltip]="getItemName(ItemTypeBuild.PLASTRON)">
        <img appFallback [src]="mapImageItems().get(ItemTypeBuild.ANNEAU_GAUCHE)" alt="image"
            [matTooltip]="getItemName(ItemTypeBuild.ANNEAU_GAUCHE)">
        <img appFallback [src]="mapImageItems().get(ItemTypeBuild.ANNEAU_DROITE)" alt="image"
            [matTooltip]="getItemName(ItemTypeBuild.ANNEAU_DROITE)">
        <img appFallback [src]="mapImageItems().get(ItemTypeBuild.BOTTES)" alt="image"
            [matTooltip]="getItemName(ItemTypeBuild.BOTTES)">
        <img appFallback [src]="mapImageItems().get(ItemTypeBuild.CAPE)" alt="image"
            [matTooltip]="getItemName(ItemTypeBuild.CAPE)">
        <img appFallback [src]="mapImageItems().get(ItemTypeBuild.EPAULETTES)" alt="image"
            [matTooltip]="getItemName(ItemTypeBuild.EPAULETTES)">
        <img appFallback [src]="mapImageItems().get(ItemTypeBuild.CEINTURE)" alt="image"
            [matTooltip]="getItemName(ItemTypeBuild.CEINTURE)">
        <img appFallback [src]="mapImageItems().get(ItemTypeBuild.SECONDE_MAIN)" alt="image"
            [matTooltip]="getItemName(ItemTypeBuild.SECONDE_MAIN)">
        <img appFallback [src]="mapImageItems().get(ItemTypeBuild.PREMIERE_MAIN)" alt="image"
            [matTooltip]="getItemName(ItemTypeBuild.PREMIERE_MAIN)">
        <img appFallback [src]="mapImageItems().get(ItemTypeBuild.ACCESSOIRES)" alt="image"
            [matTooltip]="getItemName(ItemTypeBuild.ACCESSOIRES)">
        <img appFallback [src]="mapImageItems().get(ItemTypeBuild.FAMILIER)" alt="image"
            [matTooltip]="getItemName(ItemTypeBuild.FAMILIER)">
    </div>
</div>