<!-- eslint-disable @angular-eslint/template/interactive-supports-focus -->
<!-- eslint-disable @angular-eslint/template/click-events-have-key-events -->
 @if(item) {
    <div class="header">
        <span><img [src]="imageService.getActionIdUrl(IdActionEnum.MAITRISES_ELEMENTAIRES)" alt="Maitrises">{{ "item.maitrises" | translate }} {{Math.trunc(item.maitrise)}}</span>
        <span><img [src]="imageService.getActionIdUrl(IdActionEnum.RESISTANCES_ELEMENTAIRE)" alt="Résistances">{{ "item.resistances" | translate }} {{item.resistance}}</span>
        <span class="imgContainer" (click)="openEncyclopedie(item.id)"><img src="aptitudes/Encyclopédie.png" alt="Encyclopédie"></span>
    </div>
    @if (textCondition() | async; as condition) {
        <div class="condition">
            [ {{ condition }} ]
        </div>
    }
    <div class="content" (click)="setItemChoosen()">
        <div class="title">
            <h3 [style.color]="colorRarityService.mapColors.get(item.rarity)">{{getTitle()}} ({{item.level}}) <img [src]="itemTypeService.getLogo(itemTypeService.getItemType(item.itemTypeId))" alt="item type logo"> </h3>
            <img [src]="imageService.getItemUrl(item.idImage)" alt="items" appFallback>
            <div class="poids" [matTooltip]="'item.poids-infobulle' | translate" [matTooltipShowDelay]="300" ><img [src]="'aptitudes/poids.png'" alt="poids">{{ "item.poids" | translate }} {{item.weight}}</div>
        </div>
        <div>
            <p *ngFor="let effect of item.equipEffects">
                <ng-container *ngIf="effect.actionId !== IdActionEnum.APPLIQUE_ETAT">
                    <img  [src]="getEffectPng(effect)" alt="aptitudes">  {{ effect | actions | async }}
                </ng-container>
                <ng-container *ngIf="effect.actionId === IdActionEnum.APPLIQUE_ETAT">
                    <span class="appliqueEtat" *ngIf="{states: statesService.findStates(effect.params[0]) } as value"
                        (mouseenter)="openStatesTooltip($event, value.states?.id ?? 0, getStatesTranslate(value.states))"
                        (mouseleave)="stateTooltipService.closeTooltip()"
                    >
                        {{ getStatesTranslate(value.states) }}
                    </span>
                </ng-container>
            </p>
        </div>
    </div>
 }

@if (itemChoosen$ | async; as itemChoosen) {
    @if(itemIsPresentAndNotChoosen(itemChoosen)) {
        <mat-icon
            class="iconComparator"
            fontIcon="swap_horiz"
            (mouseenter)="openTooltip($event, item)" 
            (mouseleave)="tooltipService.closeTooltip()"
        ></mat-icon>
    }
}
