
:host {
    background-color: rgba(13, 38, 67,.9);
    border-radius: 5px;
    padding: 5px;
    color: white;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;

    .header {
        display: flex;
        span {
            width: 40%;
            margin: auto;
        }
    }
    
    .content {
        display: flex;
        justify-content: space-around;

        .title{
            display: flex;
            flex-direction: column;

            h2 {
                text-align: center;
                margin: auto;
            }

            img {
                width: 100px;
                height: 100px;
                margin: auto;
            }
        }
        
        p {
            margin: 0;
        }
    }
}
