<!-- eslint-disable @angular-eslint/template/interactive-supports-focus -->
<!-- eslint-disable @angular-eslint/template/click-events-have-key-events -->
<ng-container *ngIf="item">
    <div class="header">
        <span><img [src]="'aptitudes/1068.png'" alt="Maitrises">{{ "item.maitrises" | translate }} {{Math.trunc(maitrises)}}</span>
        <span><img [src]="'aptitudes/1069.png'" alt="Résistances">{{ "item.resistances" | translate }} {{resistances}}</span>
        <span class="imgContainer" (click)="openEncyclopedie(item.id)"><img src="aptitudes/Encyclopédie.png" alt="Encyclopédie"></span>
    </div>
    <div class="content" (click)="setItemChoosen()">
        <div class="title">
            <h3 [style.color]="colorRarityService.getMapColors().get(item.rarity)">{{getTitle()}} ({{item.level}})</h3>
            <img [src]="'items/' + item.idImage + '.png'" alt="items">
            <div class="poids" [matTooltip]="'poids-infobulle' | translate" [matTooltipShowDelay]="300" ><img [src]="'aptitudes/poids.png'" alt="poids">{{ "item.poids" | translate }} {{item.weight}}</div>
        </div>
        <div>
            <p *ngFor="let effect of item.equipEffects">
                <ng-container *ngIf="effect.actionId !== IdActionEnum.APPLIQUE_ETAT">
                    <img  [src]="'aptitudes/' + getEffectPng(effect) +'.png'" alt="aptitudes">  {{ displayEffect(effect) }}
                </ng-container>
                <ng-container *ngIf="effect.actionId === IdActionEnum.APPLIQUE_ETAT">
                    <span class="appliqueEtat" *ngIf="{states: statesService.findStates(effect.params[0]) | async } as value"
                        (mouseenter)="openStatesTooltip($event, value.states?.id ?? 0, getStatesTranslate(value.states))"
                        (mouseleave)="stateTooltipService.closeTooltip()"
                    >
                        {{ getStatesTranslate(value.states) }}
                    </span>
                </ng-container>
            </p>
        </div>
    </div>
</ng-container>

<ng-container *ngIf="{itemChoosen: itemChoosen$ | async} as value" >
    <mat-icon *ngIf="value.itemChoosen && itemIsPresentAndNotChoosen(value.itemChoosen)"
        class="iconComparator"
        fontIcon="swap_horiz"
        (mouseenter)="openTooltip($event, item)" 
        (mouseleave)="tooltipService.closeTooltip()"
    ></mat-icon>
</ng-container>
