<div class="body">
    <!-- PREMIERE COLONNE -->
    <div class="column">
        <!-- Intelligence -->
        <div class="card">
            <div class="header">
                <span>{{'aptitudes.intelligence' | translate}}</span>
                <span>{{'aptitudes.restant' | translate}} 0</span>
            </div>
            <div class="content">
                <div class="row">
                    <div class="aptitudes-name"><img [src]="imageService.getActionIdUrl(IdActionsEnum.POINT_DE_VIE)" alt="Point de vie">{{'aptitudes.%-vie' | translate}}</div>
                    <div class="aptitudes-value"><app-input-aptitudes [control]="aptitudesFormService.form.controls.percentagePV"></app-input-aptitudes></div>
                </div>
                <div class="row">
                    <div class="aptitudes-name"><img [src]="imageService.getActionIdUrl(IdActionsEnum.RESISTANCES_ELEMENTAIRE)" alt="Résistances élémentaires">{{'aptitudes.resistances-elem' | translate}}</div>
                    <div class="aptitudes-value"><app-input-aptitudes [control]="aptitudesFormService.form.controls.resistancesElementaires"></app-input-aptitudes></div>
                </div>
                <div class="row">
                    <div class="aptitudes-name"><img [src]="imageService.getActionIdUrl(IdActionsEnum.BARRIERE)" alt="Barrière">{{'aptitudes.barriere' | translate}}</div>
                    <div class="aptitudes-value"><app-input-aptitudes [control]="aptitudesFormService.form.controls.barriere"></app-input-aptitudes></div>
                </div>
                <div class="row">
                    <div class="aptitudes-name"><img [src]="imageService.getActionIdUrl(IdActionsEnum.SOINS_RECUE)" alt="Soins reçus">{{'aptitudes.soins-recus' | translate}}</div>
                    <div class="aptitudes-value"><app-input-aptitudes [control]="aptitudesFormService.form.controls.soinsRecus"></app-input-aptitudes></div>
                </div>
                <div class="row">
                    <div class="aptitudes-name"><img [src]="imageService.getActionIdUrl(IdActionsEnum.POINT_DE_VIE_EN_ARMURE)" alt="Point de vie en armure">{{'aptitudes.%-armure' | translate}}</div>
                    <div class="aptitudes-value"><app-input-aptitudes [control]="aptitudesFormService.form.controls.pdvArmure"></app-input-aptitudes></div>
                </div>
            </div>
        </div>

        <!-- Force -->
        <div class="card">
            <div class="header">
                <span>{{'aptitudes.force' | translate}}</span>
                <span>{{'aptitudes.restant' | translate}} 0</span>
            </div>
            <div class="content">
                <div class="row">
                    <div class="aptitudes-name"><img [src]="imageService.getActionIdUrl(IdActionsEnum.MAITRISES_ELEMENTAIRES)" alt="Maitrises élémentaires">{{'aptitudes.maitrises-elem' | translate}}</div>
                    <div class="aptitudes-value"><app-input-aptitudes [control]="aptitudesFormService.form.controls.maitriseElem"></app-input-aptitudes></div>
                </div>
                <div class="row">
                    <div class="aptitudes-name"><img [src]="imageService.getActionIdUrl(IdActionsEnum.MAITRISES_MELEE)" alt="Maitrises mêlée">{{'aptitudes.maitrises-melee' | translate}}</div>
                    <div class="aptitudes-value"><app-input-aptitudes [control]="aptitudesFormService.form.controls.maitrisesMelee"></app-input-aptitudes></div>
                </div>
                <div class="row">
                    <div class="aptitudes-name"><img [src]="imageService.getActionIdUrl(IdActionsEnum.MAITRISES_DISTANCES)" alt="Maitrises distances">{{'aptitudes.maitrises-distance' | translate}}</div>
                    <div class="aptitudes-value"><app-input-aptitudes [control]="aptitudesFormService.form.controls.maitrisesDistance"></app-input-aptitudes></div>
                </div>
                <div class="row">
                    <div class="aptitudes-name"><img [src]="imageService.getActionIdUrl(IdActionsEnum.POINT_DE_VIE)" alt="Point de vie">{{'aptitudes.vie' | translate}}</div>
                    <div class="aptitudes-value"><app-input-aptitudes [control]="aptitudesFormService.form.controls.pdv"></app-input-aptitudes></div>
                </div>
            </div>
        </div>

        <!-- Agilité -->
        <div class="card">
            <div class="header">
                <span>{{'aptitudes.agilite' | translate}}</span>
                <span>{{'aptitudes.restant' | translate}} 0</span>
            </div>
            <div class="content">
                <div class="row">
                    <div class="aptitudes-name"><img [src]="imageService.getActionIdUrl(IdActionsEnum.TACLE)" alt="Tacle"> {{'aptitudes.tacle' | translate}}</div>
                    <div class="aptitudes-value"><app-input-aptitudes [control]="aptitudesFormService.form.controls.tacle"></app-input-aptitudes></div>
                </div>
                <div class="row">
                    <div class="aptitudes-name"><img [src]="imageService.getActionIdUrl(IdActionsEnum.ESQUIVE)" alt="Esquive">{{'aptitudes.esquive' | translate}}</div>
                    <div class="aptitudes-value"><app-input-aptitudes [control]="aptitudesFormService.form.controls.esquive"></app-input-aptitudes></div>
                </div>
                <div class="row">
                    <div class="aptitudes-name"><img [src]="imageService.getActionIdUrl(IdActionsEnum.INITIATIVE)" alt="Initiative">{{'aptitudes.initiative' | translate}}</div>
                    <div class="aptitudes-value"><app-input-aptitudes [control]="aptitudesFormService.form.controls.initiative"></app-input-aptitudes></div>
                </div>
                <div class="row">
                    <div class="aptitudes-name"><img [src]="imageService.getActionIdUrl(IdActionsEnum.TACLE)" alt="Tacle Esquive">{{'aptitudes.tacle-esquive' | translate}}</div>
                    <div class="aptitudes-value"><app-input-aptitudes [control]="aptitudesFormService.form.controls.tacleEsquive"></app-input-aptitudes></div>
                </div>
                <div class="row">
                    <div class="aptitudes-name"><img [src]="imageService.getActionIdUrl(IdActionsEnum.VOLONTE)" alt="Volonté">{{'aptitudes.volonte' | translate}}</div>
                    <div class="aptitudes-value"><app-input-aptitudes [control]="aptitudesFormService.form.controls.volonte"></app-input-aptitudes></div>
                </div>
            </div>
        </div>
    </div>
    <!-- DEUXIEME COLONNE -->
    <div class="column">
        <!-- Chance -->
        <div class="card">
            <div class="header">
                <span>{{'aptitudes.chance' | translate}}</span>
                <span>{{'aptitudes.restant' | translate}} 0</span>
            </div>
            <div class="content">
                <div class="row">
                    <div class="aptitudes-name"><img [src]="imageService.getActionIdUrl(IdActionsEnum.COUP_CRITIQUE)" alt="Coup critique"> {{'aptitudes.%-critique' | translate}}</div>
                    <div class="aptitudes-value"><app-input-aptitudes [control]="aptitudesFormService.form.controls.percentageCC"></app-input-aptitudes></div>
                </div>
                <div class="row">
                    <div class="aptitudes-name"><img [src]="imageService.getActionIdUrl(IdActionsEnum.PARADE)" alt="Parade">{{'aptitudes.%-parade' | translate}}</div>
                    <div class="aptitudes-value"><app-input-aptitudes [control]="aptitudesFormService.form.controls.parade"></app-input-aptitudes></div>
                </div>
                <div class="row">
                    <div class="aptitudes-name"><img [src]="imageService.getActionIdUrl(IdActionsEnum.MAITRISES_CRITIQUES)" alt="Maitrises critiques"> {{'aptitudes.maitrises-critique' | translate}}</div>
                    <div class="aptitudes-value"><app-input-aptitudes [control]="aptitudesFormService.form.controls.maitriseCritique"></app-input-aptitudes></div>
                </div>
                <div class="row">
                    <div class="aptitudes-name"><img [src]="imageService.getActionIdUrl(IdActionsEnum.MAITRISES_DOS)" alt="Maitrises dos"> {{'aptitudes.maitrises-dos' | translate}}</div>
                    <div class="aptitudes-value"><app-input-aptitudes [control]="aptitudesFormService.form.controls.maitriseDos"></app-input-aptitudes></div>
                </div>
                <div class="row">
                    <div class="aptitudes-name"><img [src]="imageService.getActionIdUrl(IdActionsEnum.MAITRISES_BERZERK)" alt="Maitrises berzerk"> {{'aptitudes.maitrises-berzerk' | translate}}</div>
                    <div class="aptitudes-value"><app-input-aptitudes [control]="aptitudesFormService.form.controls.maitriseBerzerk"></app-input-aptitudes></div>
                </div>
                <div class="row">
                    <div class="aptitudes-name"><img [src]="imageService.getActionIdUrl(IdActionsEnum.MAITRISES_SOIN)" alt="Maitrises soin"> {{'aptitudes.maitrises-soin' | translate}}</div>
                    <div class="aptitudes-value"><app-input-aptitudes [control]="aptitudesFormService.form.controls.maitriseSoins"></app-input-aptitudes></div>
                </div>
                <div class="row">
                    <div class="aptitudes-name"><img [src]="imageService.getActionIdUrl(IdActionsEnum.RESISTANCES_DOS)" alt="Résistances dos"> {{'aptitudes.resistances-dos' | translate}}</div>
                    <div class="aptitudes-value"><app-input-aptitudes [control]="aptitudesFormService.form.controls.resistancesDos"></app-input-aptitudes></div>
                </div>
                <div class="row">
                    <div class="aptitudes-name"><img [src]="imageService.getActionIdUrl(IdActionsEnum.RESISTANCES_CRITIQUES)" alt="Résistances critiques"> {{'aptitudes.resistances-critique' | translate}}</div>
                    <div class="aptitudes-value"><app-input-aptitudes [control]="aptitudesFormService.form.controls.resistancesCritique"></app-input-aptitudes></div>
                </div>
            </div>
        </div>

        <!-- Majeur -->
        <div class="card">
            <div class="header">
                <span>{{'aptitudes.majeur' | translate}}</span>
                <span>{{'aptitudes.restant' | translate}} 0</span>
            </div>
            <div class="content">
                <div class="row">
                    <div class="aptitudes-name"><img [src]="imageService.getActionIdUrl(IdActionsEnum.PA)" alt="PA"> {{'aptitudes.pa' | translate}}</div>
                    <div class="aptitudes-value"><app-input-aptitudes [control]="aptitudesFormService.form.controls.pa"></app-input-aptitudes></div>
                </div>
                <div class="row">
                    <div class="aptitudes-name"><img [src]="imageService.getActionIdUrl(IdActionsEnum.PM)" alt="PM"> {{'aptitudes.pm' | translate}}</div>
                    <div class="aptitudes-value"><app-input-aptitudes [control]="aptitudesFormService.form.controls.pm"></app-input-aptitudes></div>
                </div>
                <div class="row">
                    <div class="aptitudes-name"><img [src]="imageService.getActionIdUrl(IdActionsEnum.PORTEE)" alt="Portée"> {{'aptitudes.po' | translate}}</div>
                    <div class="aptitudes-value"><app-input-aptitudes [control]="aptitudesFormService.form.controls.po"></app-input-aptitudes></div>
                </div>
                <div class="row">
                    <div class="aptitudes-name"><img [src]="imageService.getActionIdUrl(IdActionsEnum.BOOST_PW)" alt="PW"> {{'aptitudes.pw' | translate}}</div>
                    <div class="aptitudes-value"><app-input-aptitudes [control]="aptitudesFormService.form.controls.pw"></app-input-aptitudes></div>
                </div>
                <div class="row">
                    <div class="aptitudes-name"><img [src]="imageService.getActionIdUrl(IdActionsEnum.CONTROLE)" alt="Contrôle"> {{'aptitudes.controle' | translate}}</div>
                    <div class="aptitudes-value"><app-input-aptitudes [control]="aptitudesFormService.form.controls.controle"></app-input-aptitudes></div>
                </div>
                <div class="row">
                    <div class="aptitudes-name"><img [src]="imageService.getActionIdUrl(IdActionsEnum.DI)" alt="Dommages infligés"> {{'aptitudes.di' | translate}}</div>
                    <div class="aptitudes-value"><app-input-aptitudes [control]="aptitudesFormService.form.controls.di"></app-input-aptitudes></div>
                </div>
                <div class="row">
                    <div class="aptitudes-name"><img [src]="imageService.getActionIdUrl(IdActionsEnum.RESISTANCES_ELEMENTAIRE)" alt="RESISTANCES_ELEMENTAIRE"> {{'aptitudes.resistances-elem' | translate}}</div>
                    <div class="aptitudes-value"><app-input-aptitudes [control]="aptitudesFormService.form.controls.resistancesElementairesMajeur"></app-input-aptitudes></div>
                </div>
            </div>
        </div>

    </div>
</div>
