.body {
    width: 50%;
    display: flex;
    justify-content: space-around;
    .column {
        width: 45%;
        .card {
            background: linear-gradient(145deg, #0D1B2A, #415A77);
            border-radius: 15px;
            padding: 5px;
            color: white;
            min-width: 300px;
            display: flex;
            flex-direction: column;
            box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.6);
            position: relative;
            margin-bottom: 15px;

            .header {
                display: flex;
                border-bottom: 3px solid #415A77;
                margin-bottom: 10px;

                span {
                    display: flex;
                    justify-content: space-around;
                    align-items: center;
                    margin: auto;
                }
            }

            .content {
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                .row {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin: 5px;
                    .aptitudes-name {
                        display: flex;
                        margin-right: auto;
                        img {
                            margin-right: 10px;
                            width: 22px;
                            height: 22px;
                        }
                    }
                    .aptitudes-value {
                        width: 100px;
                    }
                }
            }
        }
    }
}