:host {
    background: linear-gradient(to right, #213A57, #618A97);
    width: 100%;

    .content {
        display: grid;
        grid-template-columns: repeat(9, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 20px;
        grid-row-gap: 6px;
        margin-top: 3px;

        span {
            text-align: center;
            color: white;

            img {
                position: relative;
                top: 3px;
                margin-right: 5px;
            }
        }
    }
}