<h3>{{"major-present.label" | translate}}</h3>

<div>
    <app-button-checkbox [tooltip]="'major-present.PA' | translate" [control]="majorPresentFormService.form.controls.PA" srcImg="aptitudes/31.png" ></app-button-checkbox>
    <app-button-checkbox [tooltip]="'major-present.PM' | translate" [control]="majorPresentFormService.form.controls.PM" srcImg="aptitudes/41.png" ></app-button-checkbox>
    <app-button-checkbox [tooltip]="'major-present.PW' | translate" [control]="majorPresentFormService.form.controls.PW" srcImg="aptitudes/191.png" ></app-button-checkbox>
    <app-button-checkbox [tooltip]="'major-present.PO' | translate" [control]="majorPresentFormService.form.controls.PO" srcImg="aptitudes/161.png" ></app-button-checkbox>
    <app-button-checkbox [tooltip]="'major-present.armure-donnee' | translate" [control]="majorPresentFormService.form.controls.ARMURE_DONNEE" srcImg="aptitudes/ArmureDonnée.png" ></app-button-checkbox>
    <app-button-checkbox [tooltip]="'major-present.armure-recue' | translate" [control]="majorPresentFormService.form.controls.ARMURE_RECUE" srcImg="aptitudes/39.png" ></app-button-checkbox>
    <app-button-checkbox [tooltip]="'major-present.critique' | translate" [control]="majorPresentFormService.form.controls.CRITIQUE" srcImg="aptitudes/150.png" ></app-button-checkbox>
    <app-button-checkbox [tooltip]="'major-present.parade' | translate" [control]="majorPresentFormService.form.controls.PARADE" srcImg="aptitudes/875.png" ></app-button-checkbox>
    <app-button-checkbox [tooltip]="'major-present.resistance-dos' | translate" [control]="majorPresentFormService.form.controls.RESISTANCE_DOS" srcImg="aptitudes/71.png" ></app-button-checkbox>
    <app-button-checkbox [tooltip]="'major-present.resistance-critique' | translate" [control]="majorPresentFormService.form.controls.RESISTANCE_CRITIQUE" srcImg="aptitudes/1062.png" ></app-button-checkbox>
</div>