<!-- eslint-disable @angular-eslint/template/interactive-supports-focus -->
<!-- eslint-disable @angular-eslint/template/click-events-have-key-events -->
<header>
    <img id="logo" src="logo.png" alt="logo"> 
    <img class="gearfu" src="gearfu.png" alt="gearfu"> 
    <app-item-choose></app-item-choose>
    <img class="discord" src="discord.png" (click)="openDiscord()" alt="discord"> 
  </header>
<div class="content">
    <div class="filter">
        <h2>Filtre des items</h2>
        <app-search-item-name></app-search-item-name>
        <app-item-types></app-item-types>
        <app-item-level></app-item-level>
        <app-rarete-item></app-rarete-item>
        <app-filter-maitrises></app-filter-maitrises>
        <app-major-present></app-major-present>
        
        <h2>Tri des items</h2>
        <app-sort-choice></app-sort-choice>
        <app-modifier-elem-maitrises></app-modifier-elem-maitrises>
        <app-only-no-secondary></app-only-no-secondary>
        <app-craftable-choice></app-craftable-choice>
    </div>
    <app-item-list></app-item-list>
</div>
