$header-size:80px;
$footer-size: 38px;
$item-choose-size: 70px;

header {
    display: flex;
    position: fixed;
    width: 96%;
    height: calc($header-size - (15px * 2));
    justify-content: space-between;
    align-items: center;
    padding: 15px 50px;
    background: linear-gradient(to right, #0D1B2A, #1B263B, #415A77);
    color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    top: 0;
    z-index: 1;

    .flag {
      width: 40px;
      height: 40px;
    }

    img {
        width: 50px;
        height: 50px;
    }

    .gearfu {
        width: 93px;
        height: 50px;
        margin-left: 20px;
        margin-right: auto;
    }

    span {
        margin-right: auto;
        margin-left: 25px;
        font-size: x-large;
        text-shadow: 6px 4px 6px rgba(240, 240, 255, 0.3);
        font-family: auto;
        letter-spacing: 3px;
    }

    .flagButton {
      margin-left: auto;
    }

    .flagButton:hover {
      transform: scale(1.06);
    }

    .discord {
        cursor: pointer;
    }
    .discord:hover {
        transform: scale(1.06);
    }
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: $header-size;
    min-height: calc(100vh - $header-size);
}

.filter {
    button {
      margin: 5px;
      border: 2px solid #415A77;
      box-shadow: 2px 3px 2px rgba(240, 240, 240, 0.2);
      cursor: pointer;
      background-color: white;
      color: #213A57;
      font-weight: 600;
      font-size: 17px;
      height: 34px;
    }

    button:active {
      transform: translateY(2px);
      box-shadow: 2px 3px 2px rgba(240, 240, 240, 0.2), inset 3px 2px 5px #1B263B;
    }

    .filter-header  {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background: linear-gradient(to right, #0D1B2A, #1B263B, #415A77);
      padding: 10px 0px;

      button {
        width: 50%;
        border-radius: 10px;
      }
    }

    .filter-content {
      padding: 10px;
      .filter-title {
        display: flex;
        justify-content: space-between;
        align-items: center;
  
        button, app-reverse-button {
          width: 41px;
          border-radius: 25%;
        }

        app-reverse-button {
          margin-left: auto;
        }
      }
    }

    .build-content {
      padding: 10px;
    }

    app-builds-list {
      display: block;
    }


    background: linear-gradient(to right, #213A57, #618A97);
    opacity: 0.9;
    color: white;
    font-weight: 400;

    position: fixed;
    width: 400px;

    overflow-y: scroll;
    height: calc(100% - 85px);
    padding-bottom: 50px;

    scrollbar-width: none;  /* Firefox */
    ::-webkit-scrollbar { 
        display: none;  /* Safari and Chrome */
    }
    
}

app-recap-stats {
  position: relative;
  width: calc(100% - 400px);
  left: 400px;
  min-height: 64px;
}

app-item-list {
    width: calc(100% - 500px);
    margin-top: 1%;
    margin-left: 460px;
    padding-bottom: 50px;
}



@-webkit-keyframes rotating /* Safari and Chrome */ {
    from {
      -webkit-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    to {
      -webkit-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @keyframes rotating {
    from {
      -ms-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -webkit-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    to {
      -ms-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -webkit-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  
  #logo {
    -webkit-animation: rotating 5s linear infinite;
    -moz-animation: rotating 5s linear infinite;
    -ms-animation: rotating 5s linear infinite;
    -o-animation: rotating 5s linear infinite;
    animation: rotating 5s linear infinite;
  }

  ::ng-deep {
    .mat-mdc-menu-panel {
      background: linear-gradient(to right, #0D1B2A, #1B263B, #415A77) !important;
      min-width: 0 !important;
    }
  }

  @media screen and (min-width: 700px) {
    .menu {
      display: none;
    }
  }

  @media screen and (max-width: 700px) {
    
    app-item-choose {
      z-index: 50;
      position: fixed;
      top: $header-size;
      left: 0px;

      height: calc(100vh - $header-size - $footer-size);
      overflow-y: scroll;
      
      background: #1B263B;
      width: $item-choose-size;
    }

    app-item-list {
      width: calc(100% - $item-choose-size);
      margin-left: $item-choose-size;
      font-size: 12px;
    }

    header {
      padding: 15px;
      width: 100%;

      .menu {
        margin-right: 25px;        
        width: 44px;
        height: 44px;
        text-align: center;
        align-content: center;
        cursor: pointer;
      }
    }
    .content {
        height: calc(100vh - $header-size - $footer-size);
        overflow-y: scroll;
        touch-action: pan-y !important;

      .filter {

        .filter-header {
          display: flex !important;
          margin-left: 0 !important;
          width: 100%;
          button {
            width: calc(50% - 20px);
            font-size: 14px;
          }
        }
        z-index: 100;
        position: fixed;
        top: $header-size;
        right: -200%;
        width: 100%;
        height: calc(100% - $header-size);
        transition: right 0.3s ease-in-out;
  
        * {
          width: 90%;
          margin: auto;
          display: block;
        }
      }
  
      .filter.open {
        right: 0;
      }
    }

    .discord, app-recap-stats {
      display: none;
    }
  }

  
@media screen and (max-width: 1000px) {
    app-recap-stats {
        display: none!important;
    }
}
