<div class="background">
</div>
<header>
    <img src="logo.png"> 
    <span>GEARFU - Trieur d'item</span>
    <app-item-choose></app-item-choose>
  </header>
<div class="content">
    <div class="filter">
        <h2>Filtre des items</h2>
        <app-search-item-name></app-search-item-name>
        <app-item-types></app-item-types>
        <app-item-level></app-item-level>
        <app-rarete-item></app-rarete-item>
        <app-filter-maitrises></app-filter-maitrises>
        <app-major-present></app-major-present>
        
        <h2>Tri des items</h2>
        <app-sort-choice></app-sort-choice>
        <app-modifier-elem-maitrises></app-modifier-elem-maitrises>
        <app-only-no-secondary></app-only-no-secondary>
    </div>
    <app-item-list></app-item-list>
</div>
