<!-- eslint-disable @angular-eslint/template/interactive-supports-focus -->
<!-- eslint-disable @angular-eslint/template/click-events-have-key-events -->
<header>
    <img id="logo" src="logo.png" alt="logo"> 
    <img class="gearfu" src="gearfu.png" alt="gearfu"> 
    <app-item-choose></app-item-choose>
    <button mat-button [matMenuTriggerFor]="menu" class="flagButton"><img class="flag" [src]='"aptitudes/"+ translate.currentLang + ".png"' alt="flag"></button>
        <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="setLang('fr')"><img src="aptitudes/fr.png" alt="flag" width="40px"></button>
        <button mat-menu-item (click)="setLang('en')"><img src="aptitudes/en.png" alt="flag" width="40px"></button>
        <button mat-menu-item (click)="setLang('es')"><img src="aptitudes/es.png" alt="flag" width="40px"></button>
        <button mat-menu-item (click)="setLang('pt')"><img src="aptitudes/pt.png" alt="flag" width="40px"></button>
    </mat-menu>
    <img class="discord" src="discord.png" (click)="openDiscord()" alt="discord"> 
    <mat-icon fontIcon="menu" class="menu" (click)="handleFilter()"></mat-icon>
  </header>
<div class="content">
    <div class="filter" [class.open]="displayFilter" appSwipe (swipeRight)="handleFilter(false)">
        <h2>{{ "app.filter-item" | translate }}</h2>
        <app-search-item-name></app-search-item-name>
        <app-item-types></app-item-types>
        <app-item-level></app-item-level>
        <app-rarete-item></app-rarete-item>
        <app-filter-maitrises></app-filter-maitrises>
        <app-major-present></app-major-present>
        
        <h2>{{ "app.sort-item" | translate }}</h2>
        <app-sort-choice></app-sort-choice>
        <app-modifier-elem-maitrises></app-modifier-elem-maitrises>
        <app-only-no-secondary></app-only-no-secondary>
        <app-craftable-choice></app-craftable-choice>
    </div>
    <app-item-list appSwipe (swipeLeft)="handleFilter(true)"></app-item-list>
</div>
