:host {
    background: linear-gradient(145deg, #0D1B2A, #415A77);
    border-radius: 15px;
    padding: 5px;
    color: white;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.6);
    position: relative;

    span {
        border-radius: 10px;
    }
    
    .header {
        display: flex;
        border-bottom: 3px solid #415A77;
        margin-bottom: 10px;

        span {
            display: flex;
            justify-content: space-around;
            align-items: center;
            margin: auto;

            img, mat-icon {
                margin: 0 5px;
            }
        }
        .imgContainer {
            width: 50px;
            height: 50px;
            
            img, mat-icon {
                width: 40px;
                height: 40px;
                cursor: pointer;
                align-content: center;
            }
            img:hover {
                width: 50px;
                height: 50px;
            }
            mat-icon:hover {
                transform: scale(1.2);
            }
        }
    }

    .condition {
        text-align: center;
        color: red;
        font-weight: bolder;
        margin-bottom: 5px;
    }
    
    .content {
        height: 100%;
        display: flex;
        justify-content: space-around;
        cursor: pointer;

        div:first-child {
            margin-right: 10px;
        }

        .title{
            display: flex;
            max-width: 30%;
            flex-direction: column;

            h3 {
                text-align: center;
                margin: auto;
                img {
                    width: 30px;
                    height: 30px;
                    min-width: 30px;
                    min-height: 30px;
                    vertical-align: middle;
                }
            }

            > img {
                width: 80px;
                height: 80px;
                min-width: 80px;
                min-height: 80px;
                margin: auto;
                object-fit: contain;
                border-radius: 8px;
            }

            .poids {
                align-items: center;
                display: flex;
                
                img {
                    width: 22px;
                    height: 22px;
                    min-width: 22px;
                    min-height: 22px;
                    margin: 0 10px;
                }
                text-align: center;
            }
        }
        
        p {
            display: flex;
            align-items: center;
            margin: 0;
            border-radius: 20px;

            img {
                margin-right: 10px;
                width: 24px;
                height: 24px;
                min-width: 24px;
                min-height: 24px;
            }
        }

        .appliqueEtat {
            font-weight: 500;
            text-decoration: underline;
        }

        .effects {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            
            .craftAndDrop {
                display: flex;
                flex-wrap: wrap;
                gap: 10px;
                align-items: center;
                justify-content: space-around;

                img {
                    width: 80px;
                    height: 80px;
                    min-width: 80px;
                    min-height: 80px;
                    object-fit: contain;
                    flex: 0 0 calc(33% - 10px); // Force 3 éléments par ligne (33% chacun)
                    max-width: calc(33% - 10px);
                }

                .monster:hover, .craftable:hover {
                    transform: scale(1.2);
                }
            }
        }
    }

    .iconComparator {    
        position: absolute;
        right: 10px;
        bottom: 10px;
        color: #415A77;
        background-color: #E5E9EA;
        border-radius: 50%;
        cursor: pointer;
        border: 5px solid #0D1B2A;
    }
}

@media screen and (max-width: 900px) {
    :host {
        max-width: 90%;
        margin: auto;

        .fileCopy {
            display: none!important;
        }
        .craftAndDrop {
            img {
                width: 40px!important;
                height: 40px!important;
                min-width: 40px!important;
                min-height: 40px!important;
            }
            img:nth-of-type(n+4) {
                display: none!important;
            }
        }
    }
}