<h3>Type d'items</h3>

<div>
    <app-button-checkbox tooltip="Coiffe" [control]="itemTypeFormServices.form.controls.casque" srcImg="aptitudes/Coiffe.png" ></app-button-checkbox>
    <app-button-checkbox tooltip="Amulette" [control]="itemTypeFormServices.form.controls.amulette" srcImg="aptitudes/Amulette.png" ></app-button-checkbox>
    <app-button-checkbox tooltip="Plastron" [control]="itemTypeFormServices.form.controls.plastron" srcImg="aptitudes/Plastron.png" ></app-button-checkbox>
    <app-button-checkbox tooltip="Anneau" [control]="itemTypeFormServices.form.controls.anneau" srcImg="aptitudes/Anneau.png" ></app-button-checkbox>
    <app-button-checkbox tooltip="Bottes" [control]="itemTypeFormServices.form.controls.bottes" srcImg="aptitudes/Bottes.png" ></app-button-checkbox>
    <app-button-checkbox tooltip="Cape" [control]="itemTypeFormServices.form.controls.cape" srcImg="aptitudes/Cape.png" ></app-button-checkbox>
    <app-button-checkbox tooltip="Epaulettes" [control]="itemTypeFormServices.form.controls.epaulettes" srcImg="aptitudes/Epaulettes.png" ></app-button-checkbox>
    <app-button-checkbox tooltip="Ceinture" [control]="itemTypeFormServices.form.controls.ceinture" srcImg="aptitudes/Ceinture.png" ></app-button-checkbox>
    <app-button-checkbox tooltip="Bouclier" [control]="itemTypeFormServices.form.controls.bouclier" srcImg="aptitudes/Bouclier.png" ></app-button-checkbox>
    <app-button-checkbox tooltip="Seconde main" [control]="itemTypeFormServices.form.controls.dague" srcImg="aptitudes/SecondeMain.png" ></app-button-checkbox>
    <app-button-checkbox tooltip="Une main" [control]="itemTypeFormServices.form.controls.uneMain" srcImg="aptitudes/UneMain.png" ></app-button-checkbox>
    <app-button-checkbox tooltip="Deux mains" [control]="itemTypeFormServices.form.controls.deuxMains" srcImg="aptitudes/DeuxMains.png" ></app-button-checkbox>
    <app-button-checkbox tooltip="Accessoires" [control]="itemTypeFormServices.form.controls.accessoires" srcImg="aptitudes/Accessoires.png" ></app-button-checkbox>
    <app-button-checkbox tooltip="Familier" [control]="itemTypeFormServices.form.controls.familier" srcImg="aptitudes/Familier.png" ></app-button-checkbox>
</div>