<h3>Type d'items</h3>

<div>
    <app-button-checkbox [control]="form.controls.casque" srcImg="aptitudes/Coiffe.png" ></app-button-checkbox>
    <app-button-checkbox [control]="form.controls.amulette" srcImg="aptitudes/Amulette.png" ></app-button-checkbox>
    <app-button-checkbox [control]="form.controls.plastron" srcImg="aptitudes/Plastron.png" ></app-button-checkbox>
    <app-button-checkbox [control]="form.controls.anneau" srcImg="aptitudes/Anneau.png" ></app-button-checkbox>
    <app-button-checkbox [control]="form.controls.bottes" srcImg="aptitudes/Bottes.png" ></app-button-checkbox>
    <app-button-checkbox [control]="form.controls.cape" srcImg="aptitudes/Cape.png" ></app-button-checkbox>
    <app-button-checkbox [control]="form.controls.epaulettes" srcImg="aptitudes/Epaulettes.png" ></app-button-checkbox>
</div>
<div>
    <app-button-checkbox [control]="form.controls.ceinture" srcImg="aptitudes/Ceinture.png" ></app-button-checkbox>
    <app-button-checkbox [control]="form.controls.bouclier" srcImg="aptitudes/Bouclier.png" ></app-button-checkbox>
    <app-button-checkbox [control]="form.controls.dague" srcImg="aptitudes/SecondeMain.png" ></app-button-checkbox>
    <app-button-checkbox [control]="form.controls.uneMain" srcImg="aptitudes/UneMain.png" ></app-button-checkbox>
    <app-button-checkbox [control]="form.controls.deuxMains" srcImg="aptitudes/DeuxMains.png" ></app-button-checkbox>
    <app-button-checkbox [control]="form.controls.accessoires" srcImg="aptitudes/Accessoires.png" ></app-button-checkbox>
</div>