<h3>{{ "rarete-item.label" | translate }}</h3>

<div>
    <app-button-checkbox [tooltip]="'rarete-item.normal' | translate" [fieldControl]="rareteItemFormService.form.normal" [srcImg]="imageService.mapRarityUrl.get(RarityItemEnum.NORMAL) ?? ''" ></app-button-checkbox>
    <app-button-checkbox [tooltip]="'rarete-item.rare' | translate" [fieldControl]="rareteItemFormService.form.rare" [srcImg]="imageService.mapRarityUrl.get(RarityItemEnum.RARE) ?? ''" ></app-button-checkbox>
    <app-button-checkbox [tooltip]="'rarete-item.mythique' | translate" [fieldControl]="rareteItemFormService.form.mythique" [srcImg]="imageService.mapRarityUrl.get(RarityItemEnum.MYTHIQUE) ?? ''" ></app-button-checkbox>
    <app-button-checkbox [tooltip]="'rarete-item.legendaire' | translate" [fieldControl]="rareteItemFormService.form.legendaire" [srcImg]="imageService.mapRarityUrl.get(RarityItemEnum.LEGENDAIRE) ?? ''" ></app-button-checkbox>
    <app-button-checkbox [tooltip]="'rarete-item.souvenir' | translate" [fieldControl]="rareteItemFormService.form.souvenir" [srcImg]="imageService.mapRarityUrl.get(RarityItemEnum.SOUVENIR) ?? ''" ></app-button-checkbox>
    <app-button-checkbox [tooltip]="'rarete-item.epique' | translate" [fieldControl]="rareteItemFormService.form.epique" [srcImg]="imageService.mapRarityUrl.get(RarityItemEnum.EPIQUE) ?? ''" ></app-button-checkbox>
    <app-button-checkbox [tooltip]="'rarete-item.relique' | translate" [fieldControl]="rareteItemFormService.form.relique" [srcImg]="imageService.mapRarityUrl.get(RarityItemEnum.RELIQUE) ?? ''" ></app-button-checkbox>
</div>
