<!-- eslint-disable @angular-eslint/template/interactive-supports-focus -->
<!-- eslint-disable @angular-eslint/template/click-events-have-key-events -->
<div class="card">
    <div class="header">
        {{'sorts.sorts-equipes' | translate}}
    </div>
    <span>{{'sorts.sorts-neutres' | translate}}</span>
    <div class="sorts-neutres">
        @for(sortId of sortNeutres(); track $index) {
        <img [src]="sortId ? imageService.getSortUrl(sortId) : 'sorts/empty-sort.png'" alt=""
            [class.sort-locked]="level() < sortFormService.unlockedEmplacementSortNeutre[$index]"
            [draggable]="sortId !== 0" (dragstart)="onDragStart($event, sortId, 'NEUTRE', $index)"
            (click)="selectSortById(sortId, 'NEUTRE')" (appActivate)="removeSortFromBuild('NEUTRE', $index)"
            appActivateTrigger="dblclick" (contextmenu)="$event.preventDefault(); removeSortFromBuild('NEUTRE', $index)"
            (dragover)="onDragOver($event)" (drop)="onDrop($event, 'NEUTRE', $index)">
        }
    </div>
    <span>{{'sorts.passifs' | translate}}</span>
    <div class="sorts-passifs">
        @for(sortId of sortPassifs(); track $index) {
        <img [src]="sortId ? imageService.getSortUrl(sortId) : 'sorts/empty-sort.png'" alt=""
            [class.sort-locked]="level() < sortFormService.unlockedEmplacementSortPassif[$index]"
            [draggable]="sortId !== 0" (dragstart)="onDragStart($event, sortId, 'PASSIF', $index)"
            (click)="selectSortById(sortId, 'PASSIF')" (appActivate)="removeSortFromBuild('PASSIF', $index)"
            appActivateTrigger="dblclick" (contextmenu)="$event.preventDefault(); removeSortFromBuild('PASSIF', $index)"
            (dragover)="onDragOver($event)" (drop)="onDrop($event, 'PASSIF', $index)">
        }
    </div>
</div>