@if(item() !== undefined && item() !== null) {
@let _item = item();
<div #weaponSlot class="itemPresent" [style.backgroundColor]="colorRarityService.mapColors.get(_item!.rarity)"
    (mouseenter)="openTooltip($event, _item!)" (mouseleave)="onMouseLeave()">
    <img #itemImage [src]="imageService.getItemUrl(_item!.idImage)" (appActivate)="setFilter()" alt="items" appFallback>
    <span (appActivate)="itemChooseService.deleteItem(itemType(), indexItem())">X</span>
</div>
} @else {
<img class="noItem" [src]="backgroundItemType()" (mouseenter)="tooltipService.forceClose()" (appActivate)="setFilter()"
    alt="noItem">
}