@use '../../../../styles/mixin' as *;
$size: 56px;

.noItem {
    cursor: pointer;
    width: $size;
    height: $size;
}

.itemPresent {
    cursor: pointer;
    width: $size;
    height: $size;
    position: relative;
    img {
        width: $size;
        height: $size;
        margin-right: 10px;
    }
    span {
        display: none;
        position: absolute;
        content: "X";
        top: 0px;
        right: 5px;
        font-weight: bolder;
        color: #213A57;
        font-size: 25px;
        text-shadow:
            -2px -2px 0 #000,
            2px -2px 0 #000,
            -2px 2px 0 #000,
            2px 2px 0 #000,
            -3px 0px 0 #000,
            3px 0px 0 #000,
            0px -3px 0 #000,
            0px 3px 0 #000;
    }
}

.itemPresent:active, .noItem:active {
    @include EnfoncementFonce;
}

.itemPresent:hover {
    span {
        display: block;
    }

    span:hover {
        transform: scale(1.2);
    }
}

@media screen and (min-width: 701px) and (max-width: 1700px) {
    $size: 36px;
    .noItem {
        width: $size;
        height: $size;
    }

    .itemPresent {
        width: $size;
        height: $size;
        img {
            width: $size;
            height: $size;
        }
        
    }
}
