
@mixin EnfoncementClair {
    transform: translateY(2px);
    box-shadow:  inset 3px 2px 5px #DFE0E1;
}

@mixin EnfoncementFonce {
    transform: translateY(2px);
    box-shadow:  inset 3px 2px 5px #1B263B;
}
