
<div class="code-aptitudes">
    {{'aptitudes.code-aptitudes' | translate}}
    <input [value]="codeAptitudes()" readonly />
    <mat-icon aria-hidden="false" fontIcon="file_copy" 
        [matTooltip]="'aptitudes.copy-code' | translate"
        [matTooltipShowDelay]="300" 
        (click)="copyToClipboardCodeAptitudes()">
    </mat-icon>
</div>

<div class="body">
    <!-- PREMIERE COLONNE -->
    <div class="column">
        <!-- Intelligence -->
        <div class="card">
            <div class="header">
                <span>{{'aptitudes.intelligence' | translate}}</span>
                <span>{{'aptitudes.restant' | translate}} {{ nbPointRestantIntelligence() }}</span>
                <button (click)="aptitudesFormService.resetIntelligence()">X</button>
            </div>
            <div class="content">
                <div class="row">
                    <div class="aptitudes-name"><img [src]="imageService.getActionIdUrl(IdActionsEnum.POINT_DE_VIE)" alt="Point de vie">{{'aptitudes.%-vie' | translate}}</div>
                    <div class="aptitudes-value"><app-input-aptitudes [control]="aptitudesFormService.form.controls.percentagePV" [aptitudesRestantes]="nbPointRestantIntelligence()"></app-input-aptitudes></div>
                </div>
                <div class="row">
                    <div class="aptitudes-name"><img [src]="imageService.getActionIdUrl(IdActionsEnum.RESISTANCES_ELEMENTAIRE)" alt="Résistances élémentaires">{{'aptitudes.resistances-elem' | translate}}</div>
                    <div class="aptitudes-value"><app-input-aptitudes [control]="aptitudesFormService.form.controls.resistancesElementaires" [aptitudesRestantes]="nbPointRestantIntelligence()"></app-input-aptitudes></div>
                </div>
                <div class="row">
                    <div class="aptitudes-name"><img [src]="imageService.getActionIdUrl(IdActionsEnum.BARRIERE)" alt="Barrière">{{'aptitudes.barriere' | translate}}</div>
                    <div class="aptitudes-value"><app-input-aptitudes [control]="aptitudesFormService.form.controls.barriere" [aptitudesRestantes]="nbPointRestantIntelligence()"></app-input-aptitudes></div>
                </div>
                <div class="row">
                    <div class="aptitudes-name"><img [src]="imageService.getActionIdUrl(IdActionsEnum.SOINS_RECUE)" alt="Soins reçus">{{'aptitudes.soins-recus' | translate}}</div>
                    <div class="aptitudes-value"><app-input-aptitudes [control]="aptitudesFormService.form.controls.soinsRecus" [aptitudesRestantes]="nbPointRestantIntelligence()"></app-input-aptitudes></div>
                </div>
                <div class="row">
                    <div class="aptitudes-name"><img [src]="imageService.getActionIdUrl(IdActionsEnum.POINT_DE_VIE_EN_ARMURE)" alt="Point de vie en armure">{{'aptitudes.%-armure' | translate}}</div>
                    <div class="aptitudes-value"><app-input-aptitudes [control]="aptitudesFormService.form.controls.pdvArmure" [aptitudesRestantes]="nbPointRestantIntelligence()"></app-input-aptitudes></div>
                </div>
            </div>
        </div>

        <!-- Agilité -->
        <div class="card">
            <div class="header">
                <span>{{'aptitudes.agilite' | translate}}</span>
                <span>{{'aptitudes.restant' | translate}} {{ nbPointRestantAgilite() }}</span>
                <button (click)="aptitudesFormService.resetAgilite()">X</button>
            </div>
            <div class="content">
                <div class="row">
                    <div class="aptitudes-name"><img [src]="imageService.getActionIdUrl(IdActionsEnum.TACLE)" alt="Tacle"> {{'aptitudes.tacle' | translate}}</div>
                    <div class="aptitudes-value"><app-input-aptitudes [control]="aptitudesFormService.form.controls.tacle" [aptitudesRestantes]="nbPointRestantAgilite()"></app-input-aptitudes></div>
                </div>
                <div class="row">
                    <div class="aptitudes-name"><img [src]="imageService.getActionIdUrl(IdActionsEnum.ESQUIVE)" alt="Esquive">{{'aptitudes.esquive' | translate}}</div>
                    <div class="aptitudes-value"><app-input-aptitudes [control]="aptitudesFormService.form.controls.esquive" [aptitudesRestantes]="nbPointRestantAgilite()"></app-input-aptitudes></div>
                </div>
                <div class="row">
                    <div class="aptitudes-name"><img [src]="imageService.getActionIdUrl(IdActionsEnum.INITIATIVE)" alt="Initiative">{{'aptitudes.initiative' | translate}}</div>
                    <div class="aptitudes-value"><app-input-aptitudes [control]="aptitudesFormService.form.controls.initiative" [aptitudesRestantes]="nbPointRestantAgilite()"></app-input-aptitudes></div>
                </div>
                <div class="row">
                    <div class="aptitudes-name"><img [src]="imageService.getActionIdUrl(IdActionsEnum.TACLE)" alt="Tacle Esquive">{{'aptitudes.tacle-esquive' | translate}}</div>
                    <div class="aptitudes-value"><app-input-aptitudes [control]="aptitudesFormService.form.controls.tacleEsquive" [aptitudesRestantes]="nbPointRestantAgilite()"></app-input-aptitudes></div>
                </div>
                <div class="row">
                    <div class="aptitudes-name"><img [src]="imageService.getActionIdUrl(IdActionsEnum.VOLONTE)" alt="Volonté">{{'aptitudes.volonte' | translate}}</div>
                    <div class="aptitudes-value"><app-input-aptitudes [control]="aptitudesFormService.form.controls.volonte" [aptitudesRestantes]="nbPointRestantAgilite()"></app-input-aptitudes></div>
                </div>
            </div>
        </div>
    </div>
    <!-- DEUXIEME COLONNE -->
    <div class="column">
        <!-- Chance -->
        <div class="card">
            <div class="header">
                <span>{{'aptitudes.chance' | translate}}</span>
                <span>{{'aptitudes.restant' | translate}} {{ nbPointRestantChance() }}</span>
                <button (click)="aptitudesFormService.resetChance()">X</button>
            </div>
            <div class="content">
                <div class="row">
                    <div class="aptitudes-name"><img [src]="imageService.getActionIdUrl(IdActionsEnum.COUP_CRITIQUE)" alt="Coup critique"> {{'aptitudes.%-critique' | translate}}</div>
                    <div class="aptitudes-value"><app-input-aptitudes [control]="aptitudesFormService.form.controls.percentageCC" [aptitudesRestantes]="nbPointRestantChance()"></app-input-aptitudes></div>
                </div>
                <div class="row">
                    <div class="aptitudes-name"><img [src]="imageService.getActionIdUrl(IdActionsEnum.PARADE)" alt="Parade">{{'aptitudes.%-parade' | translate}}</div>
                    <div class="aptitudes-value"><app-input-aptitudes [control]="aptitudesFormService.form.controls.parade" [aptitudesRestantes]="nbPointRestantChance()"></app-input-aptitudes></div>
                </div>
                <div class="row">
                    <div class="aptitudes-name"><img [src]="imageService.getActionIdUrl(IdActionsEnum.MAITRISES_CRITIQUES)" alt="Maitrises critiques"> {{'aptitudes.maitrises-critique' | translate}}</div>
                    <div class="aptitudes-value"><app-input-aptitudes [control]="aptitudesFormService.form.controls.maitriseCritique" [aptitudesRestantes]="nbPointRestantChance()"></app-input-aptitudes></div>
                </div>
                <div class="row">
                    <div class="aptitudes-name"><img [src]="imageService.getActionIdUrl(IdActionsEnum.MAITRISES_DOS)" alt="Maitrises dos"> {{'aptitudes.maitrises-dos' | translate}}</div>
                    <div class="aptitudes-value"><app-input-aptitudes [control]="aptitudesFormService.form.controls.maitriseDos" [aptitudesRestantes]="nbPointRestantChance()"></app-input-aptitudes></div>
                </div>
                <div class="row">
                    <div class="aptitudes-name"><img [src]="imageService.getActionIdUrl(IdActionsEnum.MAITRISES_BERZERK)" alt="Maitrises berzerk"> {{'aptitudes.maitrises-berzerk' | translate}}</div>
                    <div class="aptitudes-value"><app-input-aptitudes [control]="aptitudesFormService.form.controls.maitriseBerzerk" [aptitudesRestantes]="nbPointRestantChance()"></app-input-aptitudes></div>
                </div>
                <div class="row">
                    <div class="aptitudes-name"><img [src]="imageService.getActionIdUrl(IdActionsEnum.MAITRISES_SOIN)" alt="Maitrises soin"> {{'aptitudes.maitrises-soin' | translate}}</div>
                    <div class="aptitudes-value"><app-input-aptitudes [control]="aptitudesFormService.form.controls.maitriseSoins" [aptitudesRestantes]="nbPointRestantChance()"></app-input-aptitudes></div>
                </div>
                <div class="row">
                    <div class="aptitudes-name"><img [src]="imageService.getActionIdUrl(IdActionsEnum.RESISTANCES_DOS)" alt="Résistances dos"> {{'aptitudes.resistances-dos' | translate}}</div>
                    <div class="aptitudes-value"><app-input-aptitudes [control]="aptitudesFormService.form.controls.resistancesDos" [aptitudesRestantes]="nbPointRestantChance()"></app-input-aptitudes></div>
                </div>
                <div class="row">
                    <div class="aptitudes-name"><img [src]="imageService.getActionIdUrl(IdActionsEnum.RESISTANCES_CRITIQUES)" alt="Résistances critiques"> {{'aptitudes.resistances-critique' | translate}}</div>
                    <div class="aptitudes-value"><app-input-aptitudes [control]="aptitudesFormService.form.controls.resistancesCritique" [aptitudesRestantes]="nbPointRestantChance()"></app-input-aptitudes></div>
                </div>
            </div>
        </div>
    </div>

    <!-- TROISIEME COLONNE -->
    <div class="column">

        
        <!-- Force -->
        <div class="card">
            <div class="header">
                <span>{{'aptitudes.force' | translate}}</span>
                <span>{{'aptitudes.restant' | translate}} {{ nbPointRestantForce() }}</span>
                <button (click)="aptitudesFormService.resetForce()">X</button>
            </div>
            <div class="content">
                <div class="row">
                    <div class="aptitudes-name"><img [src]="imageService.getActionIdUrl(IdActionsEnum.MAITRISES_ELEMENTAIRES)" alt="Maitrises élémentaires">{{'aptitudes.maitrises-elem' | translate}}</div>
                    <div class="aptitudes-value"><app-input-aptitudes [control]="aptitudesFormService.form.controls.maitriseElem" [aptitudesRestantes]="nbPointRestantForce()"></app-input-aptitudes></div>
                </div>
                <div class="row">
                    <div class="aptitudes-name"><img [src]="imageService.getActionIdUrl(IdActionsEnum.MAITRISES_MELEE)" alt="Maitrises mêlée">{{'aptitudes.maitrises-melee' | translate}}</div>
                    <div class="aptitudes-value"><app-input-aptitudes [control]="aptitudesFormService.form.controls.maitrisesMelee" [aptitudesRestantes]="nbPointRestantForce()"></app-input-aptitudes></div>
                </div>
                <div class="row">
                    <div class="aptitudes-name"><img [src]="imageService.getActionIdUrl(IdActionsEnum.MAITRISES_DISTANCES)" alt="Maitrises distances">{{'aptitudes.maitrises-distance' | translate}}</div>
                    <div class="aptitudes-value"><app-input-aptitudes [control]="aptitudesFormService.form.controls.maitrisesDistance" [aptitudesRestantes]="nbPointRestantForce()"></app-input-aptitudes></div>
                </div>
                <div class="row">
                    <div class="aptitudes-name"><img [src]="imageService.getActionIdUrl(IdActionsEnum.POINT_DE_VIE)" alt="Point de vie">{{'aptitudes.vie' | translate}}</div>
                    <div class="aptitudes-value"><app-input-aptitudes [control]="aptitudesFormService.form.controls.pdv" [aptitudesRestantes]="nbPointRestantForce()"></app-input-aptitudes></div>
                </div>
            </div>
        </div>

        
        <!-- Majeur -->
        <div class="card">
            <div class="header">
                <span>{{'aptitudes.majeur' | translate}}</span>
                <span>{{'aptitudes.restant' | translate}} {{ nbPointRestantMajeur() }}</span>
                <button (click)="aptitudesFormService.resetMajeur()">X</button>
            </div>
            <div class="content">
                <div class="row">
                    <div class="aptitudes-name"><img [src]="imageService.getActionIdUrl(IdActionsEnum.PA)" alt="PA"> {{'aptitudes.pa' | translate}}</div>
                    <div class="aptitudes-value"><app-input-aptitudes [control]="aptitudesFormService.form.controls.pa" [aptitudesRestantes]="nbPointRestantMajeur()"></app-input-aptitudes></div>
                </div>
                <div class="row">
                    <div class="aptitudes-name"><img [src]="imageService.getActionIdUrl(IdActionsEnum.PM)" alt="PM"> {{'aptitudes.pm' | translate}}</div>
                    <div class="aptitudes-value"><app-input-aptitudes [control]="aptitudesFormService.form.controls.pm" [aptitudesRestantes]="nbPointRestantMajeur()"></app-input-aptitudes></div>
                </div>
                <div class="row">
                    <div class="aptitudes-name"><img [src]="imageService.getActionIdUrl(IdActionsEnum.PORTEE)" alt="Portée"> {{'aptitudes.po' | translate}}</div>
                    <div class="aptitudes-value"><app-input-aptitudes [control]="aptitudesFormService.form.controls.po" [aptitudesRestantes]="nbPointRestantMajeur()"></app-input-aptitudes></div>
                </div>
                <div class="row">
                    <div class="aptitudes-name"><img [src]="imageService.getActionIdUrl(IdActionsEnum.BOOST_PW)" alt="PW"> {{'aptitudes.pw' | translate}}</div>
                    <div class="aptitudes-value"><app-input-aptitudes [control]="aptitudesFormService.form.controls.pw" [aptitudesRestantes]="nbPointRestantMajeur()"></app-input-aptitudes></div>
                </div>
                <div class="row">
                    <div class="aptitudes-name"><img [src]="imageService.getActionIdUrl(IdActionsEnum.CONTROLE)" alt="Contrôle"> {{'aptitudes.controle' | translate}}</div>
                    <div class="aptitudes-value"><app-input-aptitudes [control]="aptitudesFormService.form.controls.controle" [aptitudesRestantes]="nbPointRestantMajeur()"></app-input-aptitudes></div>
                </div>
                <div class="row">
                    <div class="aptitudes-name"><img [src]="imageService.getActionIdUrl(IdActionsEnum.DI)" alt="Dommages infligés"> {{'aptitudes.di' | translate}}</div>
                    <div class="aptitudes-value"><app-input-aptitudes [control]="aptitudesFormService.form.controls.di" [aptitudesRestantes]="nbPointRestantMajeur()"></app-input-aptitudes></div>
                </div>
                <div class="row">
                    <div class="aptitudes-name"><img [src]="imageService.getActionIdUrl(IdActionsEnum.RESISTANCES_ELEMENTAIRE)" alt="RESISTANCES_ELEMENTAIRE"> {{'aptitudes.resistances-elem' | translate}}</div>
                    <div class="aptitudes-value"><app-input-aptitudes [control]="aptitudesFormService.form.controls.resistancesElementairesMajeur" [aptitudesRestantes]="nbPointRestantMajeur()"></app-input-aptitudes></div>
                </div>
            </div>
        </div>
    </div>
</div>