.container {
    width: 100%;
}

.row {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin: 0 auto;
}

.card {
    width: 100%;
    background: linear-gradient(145deg, #0d1b2a, #415a77);
    border-radius: 15px;
    padding: 15px;
    color: white;
    height: fit-content;
    display: flex;
    flex-direction: column;
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.6);
    position: relative;
    margin-bottom: 15px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 3px solid #415a77;
    margin-bottom: 10px;
    padding: 5px 0;
}

.body {
    display: flex;
    flex-direction: row;
    vertical-align: middle;
    align-items: center;
    overflow-x: auto;

    .sublimation-conseillee {
        display: flex;
        flex-direction: column;
        align-items: center;

        .ratio {
            color: white;
            font-size: large;
        }
    }
}

.body app-enchantement-sublimations-classiques,
.body app-enchantement-sublimations-epiques-reliques {
    margin: 0 5px;
    min-width: 173px;
    min-height: 67px;
}