.container {
    width: 100%;
}

.row {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin: 0 auto;
}

.card {
    width: 100%;
    padding: 15px 0;
    height: fit-content;
}

.header {
    align-items: center;
    justify-content: center;
    padding: 5px 0;
}

.body {
    display: flex;
    flex-direction: row;
    vertical-align: middle;
    align-items: center;
    overflow-x: auto;

    .sublimation-conseillee {
        display: flex;
        flex-direction: column;
        align-items: center;

        .ratio {
            color: white;
            font-size: large;
        }
    }
}

.body app-enchantement-sublimations-classiques,
.body app-enchantement-sublimations-epiques-reliques {
    margin: 0 5px;
    min-width: 173px;
    min-height: 67px;
}