<div class="container">
    <div class="row">
        <div class="card">
            <div class="header">
                {{'enchantement.sublimations-conseillees' | translate}}
            </div>
            <div class="body">
                @for (sublimation of sublimationsConseilleesClassique(); track sublimation.id) {
                <div class="sublimation-conseillee">
                    <app-enchantement-sublimations-classiques
                        [sublimation]="sublimation"></app-enchantement-sublimations-classiques>
                    <span class="ratio">
                        {{ ratioUsageSublimation(sublimation) }}
                    </span>
                </div>
                }
                @for (sublimation of sublimationsConseilleesEpicRelic(); track sublimation.id) {
                <div class="sublimation-conseillee">
                    <app-enchantement-sublimations-epiques-reliques
                        [sublimation]="sublimation"></app-enchantement-sublimations-epiques-reliques>
                    <span class="ratio">
                        {{ ratioUsageSublimation(sublimation) }}
                    </span>
                </div>
                }
            </div>
        </div>
    </div>
</div>