<h3>{{ 'obtention.cacher' | translate }}</h3>

<div>
    <app-button-checkbox [tooltip]="'obtention.craftable' | translate" [control]="obtentionFormService.form.controls.CRAFTABLE" [srcImg]="imageService.getItemUrl(71919810)" ></app-button-checkbox>
    <app-button-checkbox [tooltip]="'obtention.droppable' | translate" [control]="obtentionFormService.form.controls.DROP" [srcImg]="imageService.getMonsterUrl(100200039)" ></app-button-checkbox>
    <app-button-checkbox [tooltip]="'obtention.boss' | translate" [control]="obtentionFormService.form.controls.BOSS" [srcImg]="imageService.getMonsterUrl(100200044)" ></app-button-checkbox>
    <app-button-checkbox [tooltip]="'obtention.archi' | translate" [control]="obtentionFormService.form.controls.ARCHI" [srcImg]="imageService.getAchievementUrl(5341)" ></app-button-checkbox>
</div>