<h3>{{ 'obtention.cacher' | translate }}</h3>

<div>
    <app-button-checkbox [tooltip]="'obtention.craftable' | translate"
        [fieldControl]="obtentionFormService.form.CRAFTABLE"
        [srcImg]="imageService.getItemUrl(71919810)"></app-button-checkbox>
    <app-button-checkbox [tooltip]="'obtention.droppable' | translate" [fieldControl]="obtentionFormService.form.DROP"
        [srcImg]="imageService.getMonsterUrl(100200039)"></app-button-checkbox>
    <app-button-checkbox [tooltip]="'obtention.boss' | translate" [fieldControl]="obtentionFormService.form.BOSS"
        [srcImg]="imageService.getMonsterUrl(100200044)"></app-button-checkbox>
    <app-button-checkbox [tooltip]="'obtention.archi' | translate" [fieldControl]="obtentionFormService.form.ARCHI"
        [srcImg]="imageService.getAchievementUrl(5341)"></app-button-checkbox>
    <app-button-checkbox [tooltip]="'obtention.pvp' | translate" [fieldControl]="obtentionFormService.form.PVP"
        [srcImg]="imageService.getItemUrl(53124705)"></app-button-checkbox>
    <app-button-checkbox [tooltip]="'obtention.elevage' | translate" [fieldControl]="obtentionFormService.form.ELEVAGE"
        [srcImg]="imageService.getItemUrl(84933039)"></app-button-checkbox>
</div>