@if (itemsService.isLoading()) {
<div class="content">
    @for (i of skeletonArray; track i) {
    <app-item-skeleton></app-item-skeleton>
    }
</div>
} @else if (displayedItems(); as items) {
<div class="content">
    @if(!this.displayFavoris()) {
    @for (item of items; track item.id; let idc = $index) {
    <app-item appReplayAnimation [item]="item" [style.--delay.ms]="idc * 120"></app-item>
    }
    @if (currentIndex < allItems.length) { <div class="load-trigger" #loadTrigger (appIntersect)="onScrollEnd()">
        <app-item-skeleton></app-item-skeleton>
</div>
}
} @else {
@for (item of favorisItems(); track item.id) {
<app-item [item]="item"></app-item>
}
}
</div>
}