<div class="skeleton-item">
    <div class="skeleton-header">
        <span class="skeleton-box"></span>
        <span class="skeleton-box"></span>
        <span class="skeleton-box"></span>
        <span class="skeleton-box"></span>
    </div>
    <div class="skeleton-content">
        <div class="skeleton-title">
            <div class="skeleton-text skeleton-title-text"></div>
            <div class="skeleton-image"></div>
            <div class="skeleton-text skeleton-weight"></div>
        </div>
        <div class="skeleton-effects">
            <div class="skeleton-effect-list">
                <div class="skeleton-text"></div>
                <div class="skeleton-text"></div>
                <div class="skeleton-text"></div>
                <div class="skeleton-text"></div>
            </div>
            <div class="skeleton-craft-drop">
                <div class="skeleton-box"></div>
                <div class="skeleton-box"></div>
            </div>
        </div>
    </div>
</div>