<div class="content">
    <div class="nbElements">
        <span>3</span>

        <img [src]="imageService.getActionIdUrl(IdActionsEnum.MAITRISES_ELEMENTAIRES_NOMBRE_VARIABLE)" alt="Nombre variable">
    </div>
    <div class="elements">
        <app-button-checkbox [control]="form.controls.feu" [srcImg]="imageService.getActionIdUrl(IdActionsEnum.MAITRISES_FEU)"></app-button-checkbox>
        <app-button-checkbox [control]="form.controls.eau" [srcImg]="imageService.getActionIdUrl(IdActionsEnum.MAITRISES_EAU)"></app-button-checkbox>
        <app-button-checkbox [control]="form.controls.air" [srcImg]="imageService.getActionIdUrl(IdActionsEnum.MAITRISES_AIR)"></app-button-checkbox>
        <app-button-checkbox [control]="form.controls.terre" [srcImg]="imageService.getActionIdUrl(IdActionsEnum.MAITRISES_TERRE)"></app-button-checkbox>
    </div>
</div>