.content {
    display: flex;
    border: 3px solid #112a47;
    border-radius: 10px;
    z-index: 100;
    height: 40px;
    background: linear-gradient( to right, #213A57, #618A97);

    .nbElements {
        display: flex;
        font-weight: bold;
        align-items: center;
        margin: auto;
        gap: 10px;
    }

    .elements {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        margin: 0 5px;

        app-button-checkbox {
            margin: -5px;
        }
    }
}