<!-- eslint-disable @angular-eslint/template/click-events-have-key-events -->
<!-- eslint-disable @angular-eslint/template/interactive-supports-focus -->

<div class="code-aptitudes">
    {{'sorts.code-deck' | translate}} :
    <input [value]="codeBuild()" readonly />
    <mat-icon aria-hidden="false" fontIcon="file_copy" 
        [matTooltip]="'sorts.copy-code' | translate"
        [matTooltipShowDelay]="300" 
        (click)="copyToClipboards()">
    </mat-icon>
</div>

<div class="body">
    <div class="column">
        <div class="card">
            <div class="header">
                {{'sorts.sorts-equipes' | translate}}
            </div>
            <span>{{'sorts.sorts-neutres' | translate}}</span>
            <div class="sorts-neutres">
                @for(sort of sortNeutres(); track $index) {
                    <img [src]="sort ? imageService.getSortUrl(sort) : 'sorts/empty-sort.png'" alt=""
                    [class.sort-locked]="level() < sortFormService.unlockedEmplacementSortNeutre[$index]"
                    [draggable]="sort !== 0"
                    (dragstart)="onDragStartEquipped($event, sort, 'NEUTRE', $index)"
                    (click)="selectSortById(sort, 'NEUTRE')"
                    (dblclick)="removeSortFromBuild('NEUTRE', $index)"
                    (contextmenu)="$event.preventDefault(); removeSortFromBuild('NEUTRE', $index)"
                    (dragover)="onDragOver($event)"
                    (drop)="onDrop($event, 'NEUTRE', $index)">
                }
            </div>
            <span>{{'sorts.passifs' | translate}}</span>
            <div class="sorts-passifs">
                @for(sort of sortPassifs(); track $index) {
                    <img [src]="sort ? imageService.getSortUrl(sort) : 'sorts/empty-sort.png'" alt=""
                    [class.sort-locked]="level() < sortFormService.unlockedEmplacementSortPassif[$index]"
                    [draggable]="sort !== 0"
                    (dragstart)="onDragStartEquipped($event, sort, 'PASSIF', $index)"
                    (click)="selectSortById(sort, 'PASSIF')"
                    (dblclick)="removeSortFromBuild('PASSIF', $index)"
                    (contextmenu)="$event.preventDefault(); removeSortFromBuild('PASSIF', $index)"
                    (dragover)="onDragOver($event)"
                    (drop)="onDrop($event, 'PASSIF', $index)">
                }
            </div>
        </div>

        @if(!sortSelected()) {
            <div class="card">
                <div class="header">
                    {{'sorts.sort-selectionne' | translate}}          
                </div>
                <div class="description-sort">
                    <div class="sort-title">
                        <img src="sorts/empty-sort.png" alt="">
                        <span> {{  'sorts.no-sort-selectionne' | translate }}</span>
                    </div>
                    <div class="description"></div>
                </div>
            </div>
        } @else {
            <div class="card">
                <div class="header">
                    {{'sorts.sort-selectionne' | translate}}          
                </div>
                <div class="description-sort">
                    <div class="sort-title">
                        <img [src]="imageService.getSortUrl(sortSelected()!.gfxId)" alt="">
                        <span> {{getSortName(sortSelected()!) }}</span>
                        <span class="cout-sort">
                            @if (sortSelected()!.PorteeMax) {
                                {{ sortSelected()!.PorteeMin }} - {{ sortSelected()!.PorteeMax }} <img [src]="imageService.getActionIdUrl(IdActionsEnum.PORTEE)" alt="">
                            }
                            @if (sortSelected()?.NotLDV) {
                                <img src="aptitudes/ligne_not_vu.png" class="ligne-not-vu" alt="">
                            }
                            @if (sortSelected()!.Ligne) {
                                <img src="aptitudes/picto_spell_line.png" class="ligne" alt="">
                            }
                            @if(sortSelected()!.PA) {
                                {{sortSelected()!.PA}} <img [src]="imageService.getActionIdUrl(IdActionsEnum.PA)" alt="">
                            }
                            @if(sortSelected()!.PM) {
                                {{sortSelected()!.PM}} <img [src]="imageService.getActionIdUrl(IdActionsEnum.PM)" alt="">
                            }
                            @if (sortSelected()!.PW) {
                                {{sortSelected()!.PW}} <img [src]="imageService.getActionIdUrl(IdActionsEnum.PW)" alt="">
                            }
                        </span>
                    </div>
                    <div class="description">{{getSortDescription(sortSelected()!) }}</div>
                    
                    <div class="effet-sort">
                        <div class="button-group">
                            <button (click)="effectDisplay.set('NORMAL')">{{'sorts.effet-normal' | translate}}</button>
                            @if(sortSelected()!.effect_critical.fr) {
                                <button (click)="effectDisplay.set('CRITIQUE')">{{'sorts.effet-critique' | translate}}</button>
                            }
                        </div>
                        <div class="effet">
                            @for(effectLine of getEffect(); track $index) {
                                <span [innerHTML]="effectLine"></span>
                            }
                        </div>
                        <div class="level-select or">
                            <mat-slider min="2" max="246" step="1" showTickMarks discrete [displayWith]="displayLevelSelector()" >
                                <input matSliderThumb [(ngModel)]="spellLevel" >
                            </mat-slider>
                        </div>
                    </div>
                </div>
            </div>
        }

    </div>

    <div class="column">
        <div class="card">
            <div class="header">
                {{'sorts.sorts-classe' | translate}}
            </div>
            <span>{{'sorts.sorts-elementaires' | translate}}</span>
            <div class="sorts-elementaires">
                @if(sortService.sortsClasse() !== undefined) {
                    @for (sort of sortService.sortsClasse()!.sortElementaires.feu; track sort.gfxId) {
                        <img [src]="imageService.getSortUrl(sort.gfxId)"
                            alt="" [matTooltip]="getSortName(sort)"
                            draggable="true"
                            (dragstart)="onDragStart($event, sort, 'NEUTRE')"
                            (click)="selectSort(sort, 'NEUTRE')"
                            (dblclick)="addSortToBuild(sort, 'NEUTRE')"
                            (contextmenu)="$event.preventDefault(); addSortToBuild(sort, 'NEUTRE')">
                    }
                    @for (sort of sortService.sortsClasse()!.sortElementaires.eau; track sort.gfxId) {
                        <img [src]="imageService.getSortUrl(sort.gfxId)"
                            alt="" [matTooltip]="getSortName(sort)"
                            draggable="true"
                            (dragstart)="onDragStart($event, sort, 'NEUTRE')"
                            (click)="selectSort(sort, 'NEUTRE')"
                            (dblclick)="addSortToBuild(sort, 'NEUTRE')"
                            (contextmenu)="$event.preventDefault(); addSortToBuild(sort, 'NEUTRE')">
                    }
                    @for (sort of sortService.sortsClasse()!.sortElementaires.terre; track sort.gfxId) {
                        <img [src]="imageService.getSortUrl(sort.gfxId)"
                        alt="" [matTooltip]="getSortName(sort)"
                        draggable="true"
                        (dragstart)="onDragStart($event, sort, 'NEUTRE')"
                        (click)="selectSort(sort, 'NEUTRE')"
                        (dblclick)="addSortToBuild(sort, 'NEUTRE')"
                        (contextmenu)="$event.preventDefault(); addSortToBuild(sort, 'NEUTRE')">
                    }
                    @for (sort of sortService.sortsClasse()!.sortElementaires.air; track sort.gfxId) {
                        <img [src]="imageService.getSortUrl(sort.gfxId)" 
                        alt="" [matTooltip]="getSortName(sort)"
                        draggable="true"
                        (dragstart)="onDragStart($event, sort, 'NEUTRE')" 
                        (click)="selectSort(sort, 'NEUTRE')" 
                        (dblclick)="addSortToBuild(sort, 'NEUTRE')"
                        (contextmenu)="$event.preventDefault(); addSortToBuild(sort, 'NEUTRE')">
                    }
                }
            </div>
            <span>{{'sorts.sorts-neutres' | translate}}</span>
            <div class="sorts-passifs">
                @if(sortService.sortsClasse() !== undefined) {
                    @for(sort of sortService.sortsClasse()!.sortActifs; track sort.gfxId) {
                        <img [src]="imageService.getSortUrl(sort.gfxId)" 
                        alt="" [matTooltip]="getSortName(sort)"
                        draggable="true"
                        (dragstart)="onDragStart($event, sort, 'NEUTRE')" 
                        (click)="selectSort(sort, 'NEUTRE')"
                        (dblclick)="addSortToBuild(sort, 'NEUTRE')"
                        (contextmenu)="$event.preventDefault(); addSortToBuild(sort, 'NEUTRE')">
                    }
                }
            </div>
            <span>{{'sorts.passifs' | translate}}</span>
            <div class="sorts-passifs">
                @if(sortService.sortsClasse() !== undefined) {
                    @for(sort of sortService.sortsClasse()!.sortPassifs; track sort.gfxId) {
                        <img [src]="imageService.getSortUrl(sort.gfxId)" 
                        alt="" [matTooltip]="getSortName(sort)"
                        draggable="true"
                        (dragstart)="onDragStart($event, sort, 'PASSIF')" 
                        (click)="selectSort(sort, 'PASSIF')"
                        (dblclick)="addSortToBuild(sort, 'PASSIF')"
                        (contextmenu)="$event.preventDefault(); addSortToBuild(sort, 'PASSIF')">
                    }
                }
            </div>
        </div>
    </div>
</div>