<label class="checkbox-wrapper" [style.height.px]="height()" [attr.for]="inputId" [matTooltip]="tooltip() | translate"
    [matTooltipShowDelay]="300" [class.crossed-out]="crossedOut()" [class.background-color-blue]="isChecked()">

    @if (fieldControl()) {
    <input [id]="inputId" type="checkbox" [formField]="fieldControl()!" class="checkbox-input" />
    } @else {
    <input [id]="inputId" type="checkbox" [formControl]="control()!" class="checkbox-input" />
    }

    @if(matIcon()) {
    <mat-icon [fontIcon]="matIcon()"
        [style.color]="isChecked() ? 'var(--color-white-checkbox)' : color() ?  color() :'#213A57'"></mat-icon>
    } @else if(srcImg()) {
    <img [src]="srcImg()" alt="image">
    }
</label>