<label class="checkbox-wrapper"
    [matTooltip]="tooltip() | translate"
    [matTooltipShowDelay]="300"
    [class.crossed-out]="crossedOut()"
    [class.background-color-blue]="control()?.value">
    
    <input type="checkbox" 
        [formControl]="control()!"
        class="checkbox-input"
        (appActivate)="toggle()"
    />
    
    @if(matIcon()) {
        <mat-icon [fontIcon]="matIcon()" [style.color]="control()?.value ? 'white' : '#213A57'"></mat-icon>
    } @else if(srcImg()) {
        <img [src]="srcImg()" alt="image">
    }
</label>