$width: 28px;
$height: 29px;
$border-width: 3px;

:host {
    width: 51px;
    height: 45px;
}

.checkbox-wrapper {
    padding: 1px 6px;
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
    border: 2px solid #415A77;
    border-radius: 25%;
    box-shadow: 2px 3px 2px rgba(240, 240, 240, 0.2);
    cursor: pointer;
    width: $width;
    height: $height;
    background-color: white;

    mat-icon {
        position: absolute;
        pointer-events: none;
        font-size: 23px;
        width: 23px;
        height: 23px;
    }

    img {
        max-width: 23px;
        max-height: 23px;
    }

    .checkbox-input {
        position: absolute;
        width: 100%;
        height: 100%;
        opacity: 0;
        cursor: pointer;
        margin: 0;
    }

    &:active {
        background-color: #415A77;
        border-color: #112a47;
        box-shadow: 2px 3px 2px rgba(240, 240, 240, 0.2), inset 3px 2px 5px #1B263B;
        transform: translateY(2px);
    }
}

.background-color-blue {
    background-color: #415A77 !important;
    border-width: 3px;
    width: calc(#{$width} - #{$border-width} + 1px);
    height: calc(#{$height} - #{$border-width} + 1px);
    border-color: #112a47;
}

.crossed-out {
    background-color: red;
}


button:active {
    background-color: #415A77;
    border-color: #112a47;
    transform: translateY(2px);
    box-shadow: 2px 3px 2px rgba(240, 240, 240, 0.2), inset 3px 2px 5px #1B263B;
}