:host {
    background: var(--gradient-panel);
    border-radius: 15px;
    padding: 10px;
    color: var(--color-text-inverse);
    display: flex;
    flex-direction: column;
    box-shadow: 0px 8px 8px var(--shadow-panel-color);
    position: relative;


    .header {
        display: flex;
        border-bottom: 3px solid var(--color-surface-soft);
        margin-bottom: 10px;

        span {
            display: flex;
            justify-content: space-around;
            align-items: center;
            margin: auto;
        }
    }
}