<h3>{{ "item-types.type-item" | translate }}</h3>

<div>
    <app-button-checkbox [tooltip]="'item-types.coiffe' | translate" [fieldControl]="itemTypeFormServices.form.casque" [srcImg]="itemTypesServices.getLogo(ItemTypeEnum.CASQUE)" ></app-button-checkbox>
    <app-button-checkbox [tooltip]="'item-types.amulette' | translate" [fieldControl]="itemTypeFormServices.form.amulette" [srcImg]="itemTypesServices.getLogo(ItemTypeEnum.AMULETTE)" ></app-button-checkbox>
    <app-button-checkbox [tooltip]="'item-types.plastron' | translate" [fieldControl]="itemTypeFormServices.form.plastron" [srcImg]="itemTypesServices.getLogo(ItemTypeEnum.PLASTRON)" ></app-button-checkbox>
    <app-button-checkbox [tooltip]="'item-types.anneau' | translate" [fieldControl]="itemTypeFormServices.form.anneau" [srcImg]="itemTypesServices.getLogo(ItemTypeEnum.ANNEAU)" ></app-button-checkbox>
    <app-button-checkbox [tooltip]="'item-types.bottes' | translate" [fieldControl]="itemTypeFormServices.form.bottes" [srcImg]="itemTypesServices.getLogo(ItemTypeEnum.BOTTES)" ></app-button-checkbox>
    <app-button-checkbox [tooltip]="'item-types.cape' | translate" [fieldControl]="itemTypeFormServices.form.cape" [srcImg]="itemTypesServices.getLogo(ItemTypeEnum.CAPE)" ></app-button-checkbox>
    <app-button-checkbox [tooltip]="'item-types.epaulettes' | translate" [fieldControl]="itemTypeFormServices.form.epaulettes" [srcImg]="itemTypesServices.getLogo(ItemTypeEnum.EPAULETTES)" ></app-button-checkbox>
    <app-button-checkbox [tooltip]="'item-types.ceinture' | translate" [fieldControl]="itemTypeFormServices.form.ceinture" [srcImg]="itemTypesServices.getLogo(ItemTypeEnum.CEINTURE)" ></app-button-checkbox>
    <app-button-checkbox [tooltip]="'item-types.bouclier' | translate" [fieldControl]="itemTypeFormServices.form.bouclier" [srcImg]="itemTypesServices.getLogo(ItemTypeEnum.BOUCLIER)" ></app-button-checkbox>
    <app-button-checkbox [tooltip]="'item-types.seconde-main' | translate" [fieldControl]="itemTypeFormServices.form.dague" [srcImg]="itemTypesServices.getLogo(ItemTypeEnum.DAGUE)" ></app-button-checkbox>
    <app-button-checkbox [tooltip]="'item-types.une-main' | translate" [fieldControl]="itemTypeFormServices.form.uneMain" [srcImg]="itemTypesServices.getLogo(ItemTypeEnum.UNE_MAIN)" ></app-button-checkbox>
    <app-button-checkbox [tooltip]="'item-types.deux-mains' | translate" [fieldControl]="itemTypeFormServices.form.deuxMains" [srcImg]="itemTypesServices.getLogo(ItemTypeEnum.DEUX_MAINS)" ></app-button-checkbox>
    <app-button-checkbox [tooltip]="'item-types.accessoires' | translate" [fieldControl]="itemTypeFormServices.form.accessoires" [srcImg]="itemTypesServices.getLogo(ItemTypeEnum.ACCESSOIRES)" ></app-button-checkbox>
    <app-button-checkbox [tooltip]="'item-types.familier' | translate" [fieldControl]="itemTypeFormServices.form.familier" [srcImg]="itemTypesServices.getLogo(ItemTypeEnum.FAMILIER)" ></app-button-checkbox>
</div>
