.card {
    width: calc(100% - 30px);
    padding: 15px;
    height: fit-content;

    button {
        --button-width: 100%;
        --button-height: 35px;
        --button-font-size: 13px;
        --button-radius: 10px;
        width: 100%;
    }

    button:active,
    .selected {
        transform: translateY(2px);
        box-shadow: 2px 3px 2px var(--shadow-soft-highlight-color), inset 3px 2px 5px var(--color-surface-deep);
        color: var(--color-text-inverse);
        background-color: var(--color-surface-deep);
    }

    .header {
        align-items: center;
        justify-content: center;
        padding: 5px 0;
    }

    .body {
        display: flex;
        flex-direction: column;
        vertical-align: middle;
        align-items: center;

        .effets-descriptions-container {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(7, 1fr);
            grid-column-gap: 5px;
            grid-row-gap: 5px;

            .effets-description {
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-bottom: 10px;
                width: 100%;

                img {
                    width: 20px;
                    height: 20px;
                }

                span {
                    margin: 0 10px;
                }

                .logos {
                    display: flex;
                    align-items: center;

                    img {
                        margin-right: 5px;
                    }
                }
            }
        }

        .double {
            background-color: var(--color-warning);
        }
    }
}

@media screen and (max-width: 1500px) {
    .card {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;


        .effets-descriptions-container {
            display: grid;
            grid-template-columns: repeat(1, 1fr) !important;
            grid-template-rows: repeat(15, 1fr) !important;
            grid-column-gap: 0px !important;
            grid-row-gap: 0px !important;
        }

        button {
            margin-bottom: 0px !important;
        }


        span {
            font-size: 12px !important;
        }

        img {
            width: 20px !important;
            height: 20px !important;
        }

        .effets-description {
            width: 100%;
        }
    }
}



@media screen and (max-width: 1700px) {
    .card {
        overflow: hidden;
        // text-overflow: ellipsis;
        // white-space: nowrap;

        span {
            font-size: 10px;
        }

        img {
            width: 15px;
            height: 15px;
        }
    }
}