<!-- eslint-disable @angular-eslint/template/interactive-supports-focus -->
<!-- eslint-disable @angular-eslint/template/click-events-have-key-events -->
<ng-container *ngIf="{item: $item | async} as value">
    <ng-container *ngIf="value.item">
        <div class="itemPresent" [style.backgroundColor]="colorRarityService.mapColors.get(value.item.rarity)">
            <img (click)="itemChooseService.deleteItem(itemType(), indexItem())" [src]="imageService.getItemUrl(value.item.idImage)"
                (mouseenter)="openTooltip($event, value.item)" 
                (mouseleave)="tooltipService.closeTooltip()"
                alt="items"
                appFallback
            >
        </div>
    </ng-container>
    <ng-container *ngIf="!value.item">
        <img class="noItem" [src]="backgroundItemType()"(mouseenter)="tooltipService.closeTooltip()" (click)="setFilter()" alt="noItem" >
    </ng-container>
</ng-container>