<!-- eslint-disable @angular-eslint/template/interactive-supports-focus -->
<!-- eslint-disable @angular-eslint/template/click-events-have-key-events -->
 @if($item | async; as item)
 {
    <div class="itemPresent" 
        [style.backgroundColor]="colorRarityService.mapColors.get(item.rarity)"
        (mouseenter)="openTooltip($event, item)" 
        (mouseleave)="onMouseLeave()"
        >
        <img [src]="imageService.getItemUrl(item.idImage)"
        (click)="setFilter()"    
        alt="items"
        appFallback
        >
        <span (click)="itemChooseService.deleteItem(itemType(), indexItem())">X</span>
    </div>
}  @else {
    <img class="noItem" [src]="backgroundItemType()" (mouseenter)="tooltipService.forceClose()" (click)="setFilter()" alt="noItem" >
}