<ng-container *ngIf="{item: $item | async} as value">
    <ng-container *ngIf="value.item">
        <div class="itemPresent" [style.backgroundColor]="colorRarityService.getMapColors().get(value.item.rarity)">
            <img (click)="itemChooseService.deleteItem(itemType(), indexItem())" [src]="'items/' + value.item.idImage + '.png'"
                (mouseenter)="openTooltip($event, value.item)" 
                (mouseleave)="closeTooltip()"
            >
        </div>
    </ng-container>
    <ng-container *ngIf="!value.item">
        <img class="noItem" [src]="backgroundItemType()"(mouseenter)="closeTooltip()" (click)="itemTypeFormServices.setOnlyOneItemType(itemType())" >
    </ng-container>
</ng-container>