@use '../../../styles/mixin' as *;

.noItem {
    cursor: pointer;
    width: 56px;
    height: 56px;
}

.itemPresent {
    cursor: pointer;
    width: 56px;
    height: 56px;
    img {
        width: 56px;
        height: 56px;
    }
}

.itemPresent:active, .noItem:active {
    @include EnfoncementFonce;
}

.itemPresent:hover:after {    
    position: absolute;
    content: "X";
    top: 2px;
    right: 2px;
    font-weight: bolder;
    color: #213A57;
    pointer-events: none;
}
