:host {
    width: 90%;
    display: block;
    margin: auto;

    .classes {
        width: 112%;
        margin-left: -6%;
    }

    .level {
        display: flex;
        justify-content: space-between;
        align-items: center;

        input {
            width: 60px;
            height: 28px;
            border: 2px solid #415A77;
            text-align: center;
            border-radius: 10px;
        }
    }

    .block {
        border-radius: 10px;
        overflow: auto;

        img {
            width: 22px;
            height: 22px;
        }
    }

    .row-4 {
        display: flex;
        background-color: #0D1B2A;
        justify-content: space-around;
        padding: 5px 0;
        div {
            display: flex;
            width: 20%;
            align-items: center;
            span {
                margin-left: auto;
            }
            .pdv {
                color: red;
                margin-left: 4px;
            }
            .pa, .pw, .eau {
                color: #268de2;
            }
            .pm {
                color: green;
            }
            .feu {
                color: orange;
            }
            .terre {
                color: rgb(6, 209, 6);
            }
            .air {
                color: rgb(191, 121, 224);
            }
        }
    }

    .row-2 {
        display: flex;
        background-color: #0D1B2A;
        justify-content: space-around;
        padding: 5px 0;
        div {
            width: 45%;
            display:flex;
            span {
                margin-left: auto;
            }
            img {
                margin-right: 5px;
            }

            .positif {
                color: #4CAF50;
            }
            .negatif {
                color: #F44336;
            }
        }
    }
}