<h3>Majeur devant être présent sur l'item</h3>

<div>
    <app-button-checkbox [control]="form.controls.PA" srcImg="aptitudes/31.png" ></app-button-checkbox>
    <app-button-checkbox [control]="form.controls.PM" srcImg="aptitudes/41.png" ></app-button-checkbox>
    <app-button-checkbox [control]="form.controls.PW" srcImg="aptitudes/191.png" ></app-button-checkbox>
    <app-button-checkbox [control]="form.controls.PO" srcImg="aptitudes/161.png" ></app-button-checkbox>
    <app-button-checkbox [control]="form.controls.ARMURE_DONNEE" srcImg="aptitudes/ArmureDonnée.png" ></app-button-checkbox>
    <app-button-checkbox [control]="form.controls.CRITIQUE" srcImg="aptitudes/150.png" ></app-button-checkbox>
    <app-button-checkbox [control]="form.controls.PARADE" srcImg="aptitudes/875.png" ></app-button-checkbox>
</div>