<h3>Majeur devant être présent sur l'item</h3>

<div>
    <app-button-checkbox tooltip="PA" [control]="form.controls.PA" srcImg="aptitudes/31.png" ></app-button-checkbox>
    <app-button-checkbox tooltip="PM" [control]="form.controls.PM" srcImg="aptitudes/41.png" ></app-button-checkbox>
    <app-button-checkbox tooltip="PW" [control]="form.controls.PW" srcImg="aptitudes/191.png" ></app-button-checkbox>
    <app-button-checkbox tooltip="PO" [control]="form.controls.PO" srcImg="aptitudes/161.png" ></app-button-checkbox>
    <app-button-checkbox tooltip="Armure donnée" [control]="form.controls.ARMURE_DONNEE" srcImg="aptitudes/ArmureDonnée.png" ></app-button-checkbox>
    <app-button-checkbox tooltip="Armure reçue" [control]="form.controls.ARMURE_RECUE" srcImg="aptitudes/39.png" ></app-button-checkbox>
    <app-button-checkbox tooltip="Critique" [control]="form.controls.CRITIQUE" srcImg="aptitudes/150.png" ></app-button-checkbox>
    <app-button-checkbox tooltip="Parade" [control]="form.controls.PARADE" srcImg="aptitudes/875.png" ></app-button-checkbox>
    <app-button-checkbox tooltip="Résistance dos" [control]="form.controls.RESISTANCE_DOS" srcImg="aptitudes/71.png" ></app-button-checkbox>
    <app-button-checkbox tooltip="Résistance critique" [control]="form.controls.RESISTANCE_CRITIQUE" srcImg="aptitudes/1062.png" ></app-button-checkbox>
</div>