.card {
    width: 100%;
    padding: 15px;
    height: fit-content;

    .header {
        align-items: center;
        justify-content: center;
        padding: 5px 0;
    }

    .body {
        display: flex;
        flex-direction: column;
        vertical-align: middle;
        align-items: center;

        input {
            width: 80%;
            margin: 10px auto 0;
            height: 30px;
        }

        .slider-container {
            width: 98%;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-column-gap: 0px;
            grid-row-gap: 0px;
            grid-row-gap: 5px;
            height: 200px;
            overflow-y: scroll;

            background-color: #81AAB7;
            border: 1px solid #0D1B2A;
            border-radius: 10px;

            color: #0D1B2A;
            padding: 10px;
            margin-top: 20px;

            img {
                width: 30px;
                height: 30px;
            }

            app-enchantement-sublimations-classiques,
            app-enchantement-sublimations-epiques-reliques {
                width: 95%;
                margin: 0 auto;
            }

            .selected {
                background-color: orange;
            }
        }
    }
}

@media screen and (max-width: 1500px) {
    .card {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;

        .slider-container {
            grid-template-columns: repeat(1, 1fr) !important;
        }
    }
}