<div class="card">
    <div class="header">
        Sublimations
    </div>
    <div class="body">
        <div class="row">
            <input matInput [ngModel]="searchSubli()" (ngModelChange)="searchSubli.set($event)"
                [placeholder]="'enchantement.recherche-sublimation' | translate">
            <app-button-checkbox color="rgb(207, 148, 11)" matIcon="star"
                [fieldControl]="displayFavorisSublimationService.form.display"
                [tooltip]="'filters.favoris' | translate"></app-button-checkbox>
        </div>

        <div class="slider-container">
            @for(sublimation of sublimationsList(); track $index) {
            <app-enchantement-sublimations-classiques
                [sublimation]="sublimation"></app-enchantement-sublimations-classiques>
            }
        </div>

        <div class="slider-container">
            @for(sublimation of sublimationsEpiqueReliqueList(); track $index) {
            <app-enchantement-sublimations-epiques-reliques
                [sublimation]="sublimation"></app-enchantement-sublimations-epiques-reliques>
            }
        </div>
    </div>
</div>