:host {
    background: linear-gradient(145deg, #0D1B2A, #415A77);
    border-radius: 15px;
    padding: 5px;
    color: white;
    height: 100%;
    width: 100%;

    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 5px;
    grid-row-gap: 5px;

    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.6);
    position: relative;

    img {
        width: 60px;
        height: 60px;
        align-self: center;
        justify-self: center;
        cursor: pointer;
    }

    img:hover {
        transform: scale(1.2);
        transition: transform 0.2s;
    }
}