<div class="container container-row">
    <app-enchantement-sublimations-community></app-enchantement-sublimations-community>
</div>
<div class="container"
    [style.cursor]="stateService.effectToApply() ? 'url(cursor/' + imageService.getChasseColorUrl(stateService.effectToApply()!.chasse) + ') 16 16, auto' : 'default'">
    @if (chasses() && enchantement()) {
    <div class="column">
        <app-enchantement-chasses></app-enchantement-chasses>
    </div>

    <div class="column">
        <app-enchantement-effets></app-enchantement-effets>
    </div>

    <div class="column">
        <app-enchantement-sublimations></app-enchantement-sublimations>
    </div>
    }
</div>