.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 97%;
    margin: auto;

    app-enchantement-sublimations-community {
        width: 100%;
        margin: auto;
    }

    .column {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 32%;

        app-enchantement-chasses,
        app-enchantement-effets,
        app-enchantement-sublimations {
            width: 100%;
        }
    }
}

@media screen and (max-width: 1000px) {
    .container {
        flex-direction: column !important;
        align-items: center;

        .column {
            width: 80% !important;
        }
    }
}

@media screen and (max-width: 1200px) {
    .container {
        flex-direction: row;
        flex-wrap: wrap;

        .column {
            width: 40%;
        }
    }
}