
.container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    margin: auto;
    .column {
        display: flex;
        flex-direction: column;
        align-items: center;
        
        width: fit-content;
        
        button {
            width: 270px;
            border: 2px solid #415A77;
            box-shadow: 2px 3px 2px rgba(240, 240, 240, 0.2);
            cursor: pointer;
            background-color: white;
            color: #213A57;
            font-weight: 600;
            font-size: 13px;
            height: 35px;
            border-radius: 10px;
        }
        button:active, .selected {
            transform: translateY(2px);
            box-shadow: 2px 3px 2px rgba(240, 240, 240, 0.2), inset 3px 2px 5px #1B263B;
            color: white;
            background-color: #1B263B;
        }

        .card {
            width: fit-content;
            background: linear-gradient(145deg, #0D1B2A, #415A77);
            border-radius: 15px;
            padding: 15px;
            color: white;
            height: fit-content;
            display: flex;
            flex-direction: column;
            box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.6);
            position: relative;
            margin-bottom: 15px;
            
            .header {
                display: flex;
                align-items: center;
                justify-content: center;
                border-bottom: 3px solid #415A77;
                margin-bottom: 10px;
                padding: 5px 0;
                span {
                    margin-left: auto;
                }

                button {
                    margin-left: auto;
                    width: 50px;
                }
                
            }

            .body {
                display: flex;
                flex-direction: column;
                vertical-align: middle;
                align-items: center;
                mat-slider {
                    width: 100%;
                }
                .group-item-chasses {
                    display: flex;
                    align-items: center;
                    margin-bottom: 10px;
                    app-image-item {
                        margin-right: 10px;
                    }
                    img {
                        width: 30px;
                        height: 30px;
                        margin: 0 5px;
                    }
                    img:hover {
                        transform: scale(1.2);
                    }

                    .delete {
                        width: 50px;
                    }

                    .container-image {
                        position: relative;
                        
                        .action-image {
                            display: flex;
                            align-items: center;
                            justify-content: space-around;
                            position: absolute;
                            bottom: 0px;
                            right: 0px;
                            span {
                                font-size: 11px;
                                color:#0D1B2A;
                                background-color: white;
                                border: 1px solid #415A77;
                                border-radius: 50%;
                                width: 15px;
                                height: 15px;
                                text-align: center;
                            }
                            
                            img {
                                width: 15px;
                                height: 15px;
                            }
                        }
                    }   
                }

                .effets-description {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    margin-bottom: 10px;
                    img {
                        width: 20px;
                        height: 20px;
                    }
                    span {
                        margin: 0 10px;
                    }
                    .logos {
                        display: flex;
                        align-items: center;
                        img {
                            margin-right: 5px;
                        }
                    }
                }
                
                .double {
                    background-color: orange;
                }
            }
        }
    }
}