$width-filter: 430px;

:host {
    display: block;
}

mat-tab-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--color-surface-mid);
    width: calc(100% - $width-filter);
    height: 50px;
    margin-left: $width-filter;
    position: fixed;
    z-index: 2;
    box-shadow: 0 4px 6px var(--shadow-header-color);

    ::ng-deep {
        .mat-mdc-tab-header {
            width: 100%;
        }
    }
}

@media screen and (max-width: 1000px) {
    .mobile-friendly-tabs {
        ::ng-deep .mat-mdc-tab-header {
            -webkit-overflow-scrolling: touch;
        }
    }

    .main-nav {
        height: 100%;
        width: 100%;
        flex-direction: column;
        position: relative;
        margin-left: 0;
        height: fit-content;

        div {
            width: 100%;
            height: 40px;
            padding: 5px 0;
        }
    }
}