.subli-container {
    cursor: pointer;
    color: var(--color-white);
    margin: 0 auto 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background: linear-gradient(145deg, var(--color-surface-deepest), var(--color-surface-soft));
    height: 85px;
    border-radius: 5px;
    border: 2px solid var(--color-surface-deepest);
    text-align: center;

    .row-name {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        height: 24px;
        margin: 5px 0;
        padding-top: 5px;
    }

    .row {
        border-top: 3px solid var(--color-surface-soft);
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 5px 0;
        width: 100%;
        padding-top: 8px;

        div {
            width: 49%;
            display: flex;
        }
    }

    img {
        width: 25px;
        height: 25px;
    }

    .parchemins:hover {
        transform: scale(1.4);
    }

    .parchemins-selected {
        background-color: #7eb3ec;
        border-radius: 5px;
    }
}

.subli-container:hover {
    transform: scale(1.1);
}

.selected {
    background-color: var(--color-warning);
}

@media screen and (max-width: 1500px) {
    .subli-container {
        width: 100% !important;
    }
}