.content {
    display: flex;
    align-items: center;
    .buttonGroupe {
        display: flex;
        align-items: center;
        flex-direction: column;

        .firstLine {
            display: flex;
            align-items: center;
            flex-direction: row;
            justify-content: space-around;
            margin-left: 5px;
            width: calc(100% - 5px);

            
            color: #213A57;
            font-weight: 400;
            font-size: 16px;

            background-color: #DFE0E1;
            cursor: pointer;
            border-radius: 10px;
            border: 2px solid #415A77;
            box-shadow: 2px 3px 2px rgba(240, 240, 240, 0.2);
        }

        .firstLine:active {
            background-color: #1B263B;
            color: #DFE0E1;
            transform: translateY(2px);
            box-shadow: 2px 3px 2px rgba(240, 240, 240, 0.2), inset 3px 2px 5px #DFE0E1;
        }

        .secondLine {
            display: flex;
            align-items: center;
            flex-direction: row;

            

            img:not(.poids), mat-icon {
                background-color: #DFE0E1;
                color: #1B263B;
                width: 30px;
                height: 30px;
                text-align: center;
                align-content: center;
                
                cursor: pointer;
                border-radius: 25%;
                border: 2px solid #415A77;
                box-shadow: 2px 3px 2px rgba(240, 240, 240, 0.2);
                margin-left: 5px;
            }

            img:not(.poids):active , mat-icon:active {
                background-color: #1B263B;
                color: #DFE0E1;
                transform: translateY(2px);
                box-shadow: 2px 3px 2px rgba(240, 240, 240, 0.2), inset 3px 2px 5px #DFE0E1;
            }
        }
    }

    app-item-choose-display {
        margin-left: 10px;
    }
    
    app-item-choose-display:hover {
        transform: scale(1.06);
    }



    .totalValue {
        display: flex;
        flex-direction: column;
        span {
            margin-left: 10px;
            display: flex;
            align-items: center;
            .poids {
                width: 20px;
                height: 20px;
                margin-right: 5px;
            }
        }
    }
}

@media screen and (max-width: 1350px) {
    .totalValue {
        display: none!important;
    }
}


@media screen and (max-width: 1200px) {
    .mat-icon, img, .buttonGroupe {
        display: none!important;
    }

}

@media screen and (min-width: 701px) and (max-width: 1000px) {
    app-item-choose-display {
        display: none!important;
    }
}


@media screen and (max-width: 700px) {
    .content{
        flex-wrap: wrap;
    }
    
    span {
        display: none!important;
    }
}