<!-- eslint-disable @angular-eslint/template/interactive-supports-focus -->
<!-- eslint-disable @angular-eslint/template/click-events-have-key-events -->
<div class="content">
    <img [matTooltip]="'item-choose.zenith' | translate"  src="./zenith-logo.webp" (click)="generateBuild()" alt="zenith" id="zenithButton">
    <img matTooltip="Wakfu Index"  src="./WakfuIndex.png" (click)="navigateToWakfuIndex()" alt="wakfu-index" id="wakfuIndexButton">
    <mat-icon aria-hidden="false" fontIcon="gavel" 
        matTooltip="Craftku"
        [matTooltipShowDelay]="300" 
        (click)="navigateToCraftku()"
        id="craftkuButton">
    </mat-icon>
    <mat-icon aria-hidden="false" fontIcon="file_copy" 
        [matTooltip]="'item-choose.copy' | translate"
        [matTooltipShowDelay]="300" 
        (click)="copyToClipboard()">
    </mat-icon>
    <mat-icon aria-hidden="false" fontIcon="delete" 
        [matTooltip]="'item-choose.delete' | translate"
        [matTooltipShowDelay]="300" 
        (click)="itemChooseService.cleanItemChoosen()">
    </mat-icon>
    <app-item-choose-display backgroundItemType="./aptitudes/EmplacementCoiffe.png" [itemType]="ItemTypeEnum.CASQUE" ></app-item-choose-display>
    <app-item-choose-display backgroundItemType="./aptitudes/EmplacementAmulette.png" [itemType]="ItemTypeEnum.AMULETTE" ></app-item-choose-display>
    <app-item-choose-display backgroundItemType="./aptitudes/EmplacementPlastron.png" [itemType]="ItemTypeEnum.PLASTRON" ></app-item-choose-display>
    <app-item-choose-display backgroundItemType="./aptitudes/EmplacementAnneauGauche.png" [itemType]="ItemTypeEnum.ANNEAU" ></app-item-choose-display>
    <app-item-choose-display backgroundItemType="./aptitudes/EmplacementAnneauDroite.png" [itemType]="ItemTypeEnum.ANNEAU" [indexItem]="1" ></app-item-choose-display>
    <app-item-choose-display backgroundItemType="./aptitudes/EmplacementBottes.png" [itemType]="ItemTypeEnum.BOTTES" ></app-item-choose-display>
    <app-item-choose-display backgroundItemType="./aptitudes/EmplacementCape.png" [itemType]="ItemTypeEnum.CAPE" ></app-item-choose-display>
    <app-item-choose-display backgroundItemType="./aptitudes/EmplacementEpaulettes.png" [itemType]="ItemTypeEnum.EPAULETTES" ></app-item-choose-display>
    <app-item-choose-display backgroundItemType="./aptitudes/EmplacementCeinture.png" [itemType]="ItemTypeEnum.CEINTURE" ></app-item-choose-display>
    <app-item-choose-display backgroundItemType="./aptitudes/EmplacementSecondeMain.png" [itemType]="ItemTypeEnum.BOUCLIER" ></app-item-choose-display>
    <app-item-choose-display backgroundItemType="./aptitudes/EmplacementPremièreMain.png" [itemType]="ItemTypeEnum.UNE_MAIN" ></app-item-choose-display>
    <app-item-choose-display backgroundItemType="./aptitudes/EmplacementEmblème.png" [itemType]="ItemTypeEnum.ACCESSOIRES" ></app-item-choose-display>
    <app-item-choose-display backgroundItemType="./aptitudes/EmplacementFamilier.png" [itemType]="ItemTypeEnum.FAMILIER" ></app-item-choose-display>
    <div class="totalValue">
        <span *ngIf="{totalMaitrises: itemChooseService.totalMaitrises$ | async} as value">
            <img [src]="imageService.getActionIdUrl(IdActionsEnum.MAITRISES_ELEMENTAIRES)" alt="poids" class="poids"> {{ "item-choose.maitrise-total" | translate }} : {{ value.totalMaitrises }} 
        </span>
        
        <span *ngIf="{totalResistances: itemChooseService.totalResistances$ | async} as value">
            <img [src]="imageService.getActionIdUrl(IdActionsEnum.RESISTANCES_ELEMENTAIRE)" alt="poids" class="poids"> {{ "item-choose.resistance-total" | translate }} : {{ value.totalResistances }} 
        </span>
        
        <span *ngIf="{totalWeight: itemChooseService.totalWeight$ | async} as value">
            <img [src]="'aptitudes/poids.png'" alt="poids" class="poids"> {{ "item-choose.poids-total" | translate }} : {{ value.totalWeight }} 
        </span>
    </div>
</div>