<div class="content">
    <img src="./aptitudes/EmplacementCoiffe.png">
    <img src="./aptitudes/EmplacementCape.png">
    <img src="./aptitudes/EmplacementAmulette.png">
    <img src="./aptitudes/EmplacementEpaulettes.png">
    <img src="./aptitudes/EmplacementPlastron.png">
    <img src="./aptitudes/EmplacementCeinture.png">
    <img src="./aptitudes/EmplacementAnneauGauche.png">
    <img src="./aptitudes/EmplacementAnneauDroite.png">
    <img src="./aptitudes/EmplacementBottes.png">
    <img src="./aptitudes/EmplacementSecondeMain.png">
    <img src="./aptitudes/EmplacementPremièreMain.png">
    <img src="./aptitudes/EmplacementFamilier.png">
</div>