<div (appActivate)="showInput();" [class.change]="inputValue()" [class.changed]="isChanged()">
    <img [src]="imageService.getActionIdUrl(idActionEnum())" alt="">
    @if(displayInput()){
    <input #inputField type="number" [formField]="fieldControl()" (keydown)="onKeyDown($event)">
    } @else {
    {{ label() | translate }}
    @if(displayResistance()){
    <span [class]="getClass()" [style.color]="color()">{{ calculResistance() }}</span>
    } @else {
    <span [class]="getClass()" [style.color]="color()">{{ value() }}</span>
    }
    }
</div>