<!-- eslint-disable @angular-eslint/template/click-events-have-key-events -->
<!-- eslint-disable @angular-eslint/template/interactive-supports-focus -->
<div (click)="showInput(); $event.stopPropagation()" [class.change]="controlValue().value">
    <img [src]="imageService.getActionIdUrl(idActionEnum())" alt=""> 
    @if(displayInput()){
        <input #inputField [formControl]="controlValue()" (keydown)="onKeyDown($event)">
    } @else {
        {{ label() | translate }}
        @if(displayResistance()){
            <span [class]="getClass(idActionEnum())" [style.color]="color()">{{ calculResistance(idActionEnum()) }}</span>
        } @else {
            <span [class]="getClass(idActionEnum())" [style.color]="color()">{{ getValue(idActionEnum()) }}</span>
        }
    }
</div>