.change {
    border: 2px #5e758e dashed;
    border-radius: 5px;   
}
div {
    display:flex;
    align-items: center;
    width: 100%;

    input {
        width: 100%;
    }
    
    span {
        margin-left: auto;
    }
    img {
        margin-right: 5px;
        width: 22px;
        height: 22px;
    }

    .positif {
        color: #4CAF50;
    }
    .negatif {
        color: #F44336;
    }
}


@media screen and (max-width: 700px) {
    :host {
        font-size: 11px!important;
    }

    .change {
        width: fit-content;
    }

    img {
        width: 16px!important;
        height: 16px!important;
    }
}