mat-form-field {
    width: 100%;
    height: 58px;


    ::ng-deep {
        .mat-mdc-form-field-subscript-wrapper {
            display: none;
        }
    }
}

.close-button {
    border: none;
    background-color: transparent;
    box-shadow: none;
}