<h3>Rareté de l'item</h3>

<div>
    <app-button-checkbox [control]="form.controls.normal" srcImg="rarities/1.png" ></app-button-checkbox>
    <app-button-checkbox [control]="form.controls.rare" srcImg="rarities/2.png" ></app-button-checkbox>
    <app-button-checkbox [control]="form.controls.mythique" srcImg="rarities/3.png" ></app-button-checkbox>
    <app-button-checkbox [control]="form.controls.legendaire" srcImg="rarities/4.png" ></app-button-checkbox>
    <app-button-checkbox [control]="form.controls.souvenir" srcImg="rarities/6.png" ></app-button-checkbox>
    <app-button-checkbox [control]="form.controls.epique" srcImg="rarities/7.png" ></app-button-checkbox>
    <app-button-checkbox [control]="form.controls.relique" srcImg="rarities/5.png" ></app-button-checkbox>
</div>