.card {
    width: 100%;
    padding: 5px;
    min-width: 300px;
    height: fit-content;

    .header {
        align-items: center;
        justify-content: center;
        padding: 5px 0;
    }

    .description-sort {
        margin: 0 5%;

        .sort-title {
            display: flex;

            img {
                margin-right: 10px;
                width: 56px;
                height: 56px;
                cursor: pointer;
            }

            span {
                margin: auto 0;
            }

            .cout-sort {
                display: flex;
                font-size: 14px;
                margin-left: auto;

                div {
                    display: flex;
                    align-items: center;
                }

                img {
                    margin-left: 10px;
                    width: 16px;
                    height: 16px;
                }

                .ligne-not-vu,
                .ligne {
                    margin-left: 0;
                }
            }
        }

        .description {
            margin-left: 66px;
            font-size: 12px;
        }

        .effet-sort {
            margin-left: 66px;

            .button-group {
                margin: 5px 0;
                display: flex;
                justify-content: space-between;

                button {
                    --button-width: 48%;
                    --button-radius: 10px;
                    width: 48%;
                }
            }

            .effet {
                display: flex;
                flex-direction: column;

                span {
                    display: flex;
                    align-items: center;
                    text-align: start;
                    font-size: 14px;
                    margin: 0;

                    img {
                        margin: 0 3px;
                    }
                }
            }

            .level-select {
                width: 90%;

                mat-slider {
                    width: 100%;
                }
            }
        }
    }
}

@media screen and (max-width: 850px) {
    .card {
        .description-sort {
            .sort-title {
                .cout-sort {
                    flex-wrap: wrap !important;
                    margin-left: 3px !important;

                    img {
                        margin-left: 3px !important;
                        width: 16px !important;
                        height: 16px !important;
                    }
                }
            }
        }
    }
}