<h3>{{ "modifier-elem-maitrises.label" | translate }}</h3>
<mat-form-field>
  <mat-label>{{ "modifier-elem-maitrises.mecaniques" | translate }}</mat-label>
  <mat-select [value]="modifierMecanismFormService.form.mecanisms().value()"
    (valueChange)="modifierMecanismFormService.setValue($event)" multiple>
    <mat-select-trigger>
      @if (modifierMecanismFormService.selectedValues().length) {
      @for (mecanism of modifierMecanismFormService.selectedValues(); track mecanism; let isLast = $last) {
      {{("elem-maitrises-mecanism-enum." + mecanism.valueOf()) | translate}}@if (!isLast) {, }
      }
      }
    </mat-select-trigger>
    @for (mecanism of ElemMaitrisesMecanismEnumList; track mecanism) {
    <mat-option [value]="mecanism">{{("elem-maitrises-mecanism-enum." + mecanism.valueOf()) | translate}}</mat-option>
    }
  </mat-select>
</mat-form-field>