:host {
    background: linear-gradient(145deg, #0D1B2A, #415A77);
    border-radius: 15px;
    padding: 5px;
    color: white;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.6);
    position: relative;

    
    .header {
        display: flex;
        border-bottom: 3px solid #415A77;
        margin-bottom: 10px;
    }

    
    .content {
        height: 100%;
        display: flex;
        justify-content: space-around;
    }

}