<!-- eslint-disable @angular-eslint/template/interactive-supports-focus -->
<!-- eslint-disable @angular-eslint/template/click-events-have-key-events -->
<div class="header">
    <img [src]="getUrlSublimationImage()" alt="" />
    <span>{{ getSublimationTitle() }}</span>
    <div class="chasses">
        @for(chasse of sublimationsDescriptionsSignal()?.slotColorPattern; track $index) {
            <img [src]="imageService.getChasseColorUrlById(chasse)" [alt]="">
        }
    </div>
</div>
<div class="content">
    <div>
        {{ getSublimationDescription() }}
    </div>
    <div class="craftAndDrop">
        @if (sublimationsDescriptionsSignal()!.isCraftable) {
            <img class="craftable" (click)="navigateToCraftku()" [src]="imageService.getItemUrl(71919810)" alt="craftable" [matTooltip]="'item.craftable' | translate" >
        }
        @for(bossDropable of sublimationsDescriptionsSignal()!.bossDropable; track bossDropable.idMob) {
            <img appFallback [class.breche]="bossDropable.idMob === -1"
            (click)="openEncyclopedieForMonster(bossDropable.idMob)" [src]="getUrlMonster(bossDropable)"
            [alt]="''"  [matTooltip]="`${'item.boss-drop' | translate} (${nameMonster(bossDropable)})`" />
        }
    </div>
</div>