:host {
    background: linear-gradient(145deg, #0D1B2A, #415A77);
    border-radius: 15px;
    padding: 5px;
    color: white;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.6);
    position: relative;
    max-width: 500px;

    
    .header {
        margin: auto;
        display: flex;
        align-items: center;
        gap: 10px;
        margin-bottom: 10px;
        img {
            width: 30px;
            height: 30px;
        }
    }

    
    .content {
        padding-top: 10px;
        border-top: 3px solid #415A77;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-around;
    }

}