:host {
    width: 95%;
    display: block;
    margin: auto;

    app-bonus {
        bottom: 90px;
        display: flex;
        margin-top: -50px;
        justify-content: space-between;
        align-items: center;
        position: relative;
        z-index: 1;
    }

    h3 {
        margin: 5px 0;
    }

    #first-block {
        margin-top: 10px;
    }

    .classes {
        width: 112%;
        height: 140px;
        margin-left: -6%;
        cursor: pointer;
        transition: opacity 0.2s ease-in-out, transform 0.2s;
    }
    .classes:hover {
        transform: scale(1.2);
    }
    .classes.lazy-loading {
        opacity: 0.3;
    }

    .level {
        display: flex;
        margin-top: -50px;
        justify-content: space-between;
        align-items: center;
        position: relative;
        z-index: 1;

        input {
            width: 60px;
            height: 28px;
            border: 2px solid #415A77;
            text-align: center;
            border-radius: 10px;
        }
    }

    .block {
        border-radius: 10px;
        overflow: auto;

        img {
            width: 22px;
            height: 22px;
        }
    }

    .row-4 {
        font-size: 14px;
        display: flex;
        background-color: #0D1B2A;
        justify-content: space-around;
        padding: 2px 0;
        app-input-resume-aptitudes {
            width: 20%;
        }
    }

    .row-2 {
        display: flex;
        background-color: #0D1B2A;
        justify-content: space-around;
        padding: 2px 0;
        font-size: 14px;
        div, app-input-resume-aptitudes {
            width: 45%;
            display:flex;
            align-items: center;
            img {
                margin-right: 5px;
                width: 22px;
                height: 22px;
            }
            span {
                margin-left: auto;
            }
        }
    }
}