/* You can add global styles to this file, and also import other style files */
@use "styles/mixin" as *;

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-color: #81AAB7;
    flex-direction: column;
    display: flex;
    height: 100%;
}

app-root {
    flex: 1;
}


button {
    margin: 5px;
    border: 2px solid #415A77;
    box-shadow: 2px 3px 2px rgba(240, 240, 240, 0.2);
    cursor: pointer;
    background-color: white;
    color: #213A57;
    font-weight: 600;
    font-size: 17px;
    height: 34px;
    width: 41px;
    border-radius: 25%;
}

button:active {
    transform: translateY(2px);
    box-shadow: 2px 3px 2px rgba(240, 240, 240, 0.2), inset 3px 2px 5px #1B263B;
}

footer {
    width: 100%;
    background-color: #201e1e;
    color: white;
    text-align: center;
    position: static;
    bottom: 0;
}


@media screen and (min-width: 700px) {
    footer {
        margin-top: 20px;
    }
}

.no-max-width {
    max-width: none !important;
    overflow: visible !important;
}

.cdk-overlay-connected-position-bounding-box {
    min-width: 600px !important;
}