<!-- eslint-disable @angular-eslint/template/interactive-supports-focus -->
<!-- eslint-disable @angular-eslint/template/click-events-have-key-events -->
<div class="row">
    <div></div>
    @if(displayInput()){
    <input #inputField [formControl]="nameBuildFormService.form" (keydown)="onKeyDown($event)">
    } @else {
    <h3 class="build-name" (click)="toggleDisplayInput()">{{ currentNameBuild() }}</h3>
    }
    <mat-icon [fontIcon]="icon()" (click)="toggleVisibilityBuild()"></mat-icon>
</div>