.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    margin: 0;
    min-width: 23px;
    padding: 11px 10px;
    text-align: center;
    background: var(--panel-background);


    input,
    h3 {
        width: 90%;
        margin: auto;
        font-size: 1.5em;
        text-align: center;
        border: none;
    }

    h3 {
        cursor: pointer;
        margin: 0;
    }

    mat-icon {
        cursor: pointer;
    }
}