<h3>{{ "item-level.level" | translate}}</h3>

<div>
  <mat-form-field>
    <mat-label>{{ "item-level.level-min" | translate}}</mat-label>
    <input type="text" inputmode="numeric" matInput [formField]="itemLevelFormService.form.levelMin">
    <input type="number" matInput [formField]="itemLevelFormService.form.levelMin">
  </mat-form-field>

  <mat-form-field>
    <mat-label>{{ "item-level.level-max" | translate}}</mat-label>
    <input type="text" inputmode="numeric" matInput [formField]="itemLevelFormService.form.levelMax">
    <input type="number" matInput [formField]="itemLevelFormService.form.levelMax">
  </mat-form-field>
</div>