<h2>{{ "filter-search-build.classe" | translate }}</h2>
<div class="classes-selector">
    @for (id of idClasses; track id; let first = $first) {
    <img [src]="`classes/icon/${id}.jpg`"
        [class.img-selected]="filterSearchBuildFormService.form.class().value() === id" alt=""
        (appActivate)="changeClasses(id)" [tabindex]="0">
    }
</div>

<h2>{{ "filter-search-build.name" | translate }}</h2>
<mat-form-field>
    <mat-label>{{ "filter-search-build.name" | translate }}</mat-label>
    <input matInput [formField]="filterSearchBuildFormService.form.name">
</mat-form-field>
<h2>{{ "filter-search-build.level" | translate }}</h2>
<div>
    <mat-form-field>
        <mat-label>{{ "filter-search-build.level-min" | translate}}</mat-label>
        <input type="text" inputmode="numeric" matInput [formField]="$any(filterSearchBuildFormService.form.levelMin)">
        <input type="number" inputmode="numeric" matInput
            [formField]="$any(filterSearchBuildFormService.form.levelMin)">
    </mat-form-field>

    <mat-form-field>
        <mat-label>{{ "filter-search-build.level-max" | translate}}</mat-label>
        <input type="text" inputmode="numeric" matInput [formField]="$any(filterSearchBuildFormService.form.levelMax)">
        <input type="number" inputmode="numeric" matInput
            [formField]="$any(filterSearchBuildFormService.form.levelMax)">
    </mat-form-field>
</div>

<h2>{{ "filter-search-build.order-by" | translate }}</h2>
<mat-form-field>
    <mat-select [value]="filterSearchBuildFormService.form.orderBy().value()"
        (selectionChange)="filterSearchBuildFormService.form.orderBy().value.set($event.value)">
        <mat-select-trigger>
            {{("filter-search-build.order-by-label." + filterSearchBuildFormService.form.orderBy().value()) |
            translate}}
        </mat-select-trigger>
        @for (orderBy of OrderBySearchBuildEnumList; track orderBy) {
        <mat-option [value]="orderBy">{{("filter-search-build.order-by-label." + orderBy.valueOf()) |
            translate}}</mat-option>
        }
    </mat-select>
</mat-form-field>

<h2>{{ "filter-search-build.items" | translate }}</h2>
<app-search-list-item></app-search-list-item>

<h2>{{ "filter-search-build.majeurs" | translate }}</h2>
<div>
    <mat-form-field>
        <mat-label>{{ "filter-search-build.PA" | translate}}</mat-label>
        <input type="text" inputmode="numeric" matInput [formField]="$any(filterSearchBuildFormService.form.PA)">
        <input type="number" inputmode="numeric" matInput [formField]="$any(filterSearchBuildFormService.form.PA)">
    </mat-form-field>

    <mat-form-field>
        <mat-label>{{ "filter-search-build.PM" | translate}}</mat-label>
        <input type="text" inputmode="numeric" matInput [formField]="$any(filterSearchBuildFormService.form.PM)">
        <input type="number" inputmode="numeric" matInput [formField]="$any(filterSearchBuildFormService.form.PM)">
    </mat-form-field>

    <mat-form-field>
        <mat-label>{{ "filter-search-build.PW" | translate}}</mat-label>
        <input type="text" inputmode="numeric" matInput [formField]="$any(filterSearchBuildFormService.form.PW)">
        <input type="number" inputmode="numeric" matInput [formField]="$any(filterSearchBuildFormService.form.PW)">
    </mat-form-field>

    <mat-form-field>
        <mat-label>{{ "filter-search-build.PO" | translate}}</mat-label>
        <input type="text" inputmode="numeric" matInput [formField]="$any(filterSearchBuildFormService.form.PO)">
        <input type="number" inputmode="numeric" matInput [formField]="$any(filterSearchBuildFormService.form.PO)">
    </mat-form-field>

    <mat-form-field>
        <mat-label>{{ "filter-search-build.CC" | translate}}</mat-label>
        <input type="text" inputmode="numeric" matInput [formField]="$any(filterSearchBuildFormService.form.CC)">
        <input type="number" inputmode="numeric" matInput [formField]="$any(filterSearchBuildFormService.form.CC)">
    </mat-form-field>

    <mat-form-field>
        <mat-label>{{ "filter-search-build.parade" | translate}}</mat-label>
        <input type="text" inputmode="numeric" matInput [formField]="$any(filterSearchBuildFormService.form.parade)">
        <input type="number" inputmode="numeric" matInput [formField]="$any(filterSearchBuildFormService.form.parade)">
    </mat-form-field>
</div>
<h2>{{ "filter-search-build.sublimations" | translate }}</h2>
<app-search-list-sublimation></app-search-list-sublimation>