<mat-form-field>
    <mat-select [value]="sortChoiceFormService.form.sortChoice().value()"
        (selectionChange)="sortChoiceFormService.form.sortChoice().value.set($event.value)">
        <mat-select-trigger>
            {{("sort-choice-enum." + sortChoiceFormService.currentValue()) | translate}}
        </mat-select-trigger>
        @for (sort of SortChoiceEnumList; track sort) {
        <mat-option [value]="sort">{{("sort-choice-enum." + sort.valueOf()) | translate}}</mat-option>
        }
    </mat-select>
</mat-form-field>