.content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;

    app-item:hover {
        transform: scale(1.03);
    }
}


@media screen and (min-width: 1850px) and (max-width: 2250px) {
    .content {
        grid-template-columns: repeat(3, 1fr);
    }

}

@media screen and (min-width: 1450px) and (max-width: 1850px) {
    .content {
        grid-template-columns: repeat(2, 1fr);
    }

}


@media screen and (max-width: 1450px) {
    .content {
        grid-template-columns: repeat(1, 1fr);
    }
}