<div class="row">
    <app-button-checkbox
        [control]="bonusFormService.form.controls.dragodinde"
        [srcImg]="imageService.getItemUrl(70718708)"
    ></app-button-checkbox>
    <app-button-checkbox
        [control]="bonusFormService.form.controls.guilde"
        [srcImg]="imageService.getItemUrl(47216942)"
    ></app-button-checkbox>
</div>
<div class="row">
    <app-button-checkbox
        [control]="bonusFormService.form.controls.neoFamilier1"
        [srcImg]="imageService.getItemUrl(58232704)"
    ></app-button-checkbox>
    <app-button-checkbox
        [control]="bonusFormService.form.controls.neoFamilier2"
        [srcImg]="imageService.getItemUrl(58232705)"
    ></app-button-checkbox>
    <app-button-checkbox
        [control]="bonusFormService.form.controls.neoFamilier3"
        [srcImg]="imageService.getItemUrl(58232706)"
    ></app-button-checkbox>
    <app-button-checkbox
        [control]="bonusFormService.form.controls.neoFamilier4"
        [srcImg]="imageService.getItemUrl(58232707)"
    ></app-button-checkbox>
</div>